/* Kids Page */
.page-background {   
    background-color: #EBEBEB;
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/ministries/hero-camps.png");
}

/* Mobile Background Image */
@media screen and (max-width: 768px) {
    .page-background {
        background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/ministries/hero-mobile-camps.png");
    }
}
#section-a-bg {
	background-color: #f3f3f3;
	padding-bottom:48px;
}

#section-a-bg h1, #section-a-bg h2 {
    text-align: center;
}
#section-a-bg h2 {
    margin-top: 4rem;
}
#section-a-bg h2.no-top-margin {
    margin-top:0;
}

#section-b-bg {
    background-color:#f9f9f9;
    padding: 2.8rem 0 4rem 0;
}

#section-c-bg {
    background-color: #f3f3f3;
}

#section-d-bg {
    background-color: #f9f9f9;
    padding-bottom: 48px;
} 

#section-e-bg {
    background-color: #f3f3f3;
}

#section-e-bg h2 {
    padding: 3rem 0 2.8rem 0;
}

.title img {
    margin-bottom: 25px;
}

/* Helps keep the four graphics in a 2x2 layout */
.img-row {
    display: flex;
    flex-wrap: nowrap;
}

.kid-image {
    padding: 5px;
}

/*Styling for the bottom icon section with kid bullet points*/
.kid-features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
    .kid-features {
        margin-top: unset;
        margin-bottom: unset;
        flex-direction: row;
    }
}

.kid-point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}

.kid-point h4 {
    text-align: center;
}

.kid-icon {
    margin-bottom: 25px;
}
.camps-btn-row {
    display:none;
}
.camps-btn-row .btn-primary {
	min-width: 0;
}
.camp-dates {
    padding: 0 2rem;
}
.camp-row {
    display:flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.camp {
    text-align:center;
    width: 20%;
    margin-right: 2rem;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.camp p {
    margin-bottom:0;
}

.camp .camp-info {
    margin-bottom: 10px;
}


.divContainForm.footersocial {
    max-width: 268px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin: 1rem auto 3rem;
}
    .divContainForm.footersocial a {
        display: inline-block;
        width: 76px;
        height: 76px;
    }
    .divContainForm.footersocial a img {
        width: 100%;
    }

@media screen and (max-width: 768px) {
    .camp-row {
        flex-direction: column;
        margin-bottom:0;
    }
    .camp {
        width: 100%;
    }
}

.camp .btn-default {
	width: 185px;
    min-width:0;
    margin: 0 auto;
}
.camp h3{
    font-size: 2rem;
}
.camps-social {
	text-align:center;
	margin: 4rem auto;
}
.camps-social small {
	font-size: 1em;
}
.camps-social-icons {
	width: 225px;
	margin: 0 auto;
}
.social {
	background-color:#D82E2F;
	margin: 1rem;
	border-radius:50%;	
	display:inline-block;
}
.social a {
	color:white;
	display:table-cell;
	vertical-align: middle;
	text-align:center;
	text-decoration: none;
	width: 50px;
	height:50px;
	font-size:2em;
}

.divContainForm {
    text-align:center;
}

.divContainForm p {
    max-width:60%;
    margin:0 auto;
}

.name-fields, .info-fields {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.name-fields .field-wrapper, 
.info-fields .field-wrapper {
    width:48%;
    margin-bottom:2rem;
}

.email-box {
    margin-bottom:5px;
}

@media screen and (max-width: 768px) {
    .name-fields, .info-fields {
        flex-direction: column;
    }
    .name-fields .field-wrapper, 
    .info-fields .field-wrapper {
        width:80%;
        margin:0 auto 2rem;
    }
    .divContainForm p {
        max-width: 80%;
    }
    .actions {
        text-align: center;
    }
    .actions .btn {
        max-width: 80%;
        margin: 0 auto 5px;
    }
}

h2.dark {
    color:#000;
    font-size: 2.7rem;
}
.no-btm-pad {
    padding-bottom:0;
}
.no-top-pad {
    padding-top:0;
}
