.page-background {
	background-color: #EBEBEB;
	background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/ministries/hero-missions-partners.jpg");
 }

#section-a-bg {
    background-color: #F3F3F3;
}

#section-b-bg {
    background-color: #FFFFFF;
}

#section-c-bg {
    background-color: #F3F3F3;
    margin: 0 auto;
}

#section-d-bg {
    background-color: #FFFFFF;
    margin: 0 auto;
}

.mission-partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
    padding-bottom: 50px;
}

.mission-partner-icon {
    width: 30%;
    padding-top: 50px;
}

.mission-partner-icon img {
    width: 200px;
}

.infoSection p {
    color: #535353;
}

/* Tablet Styling */
@media screen and (max-width: 768px) {
    .mission-partner-icon {
        width: unset;
    }

    .mission-partner-icon img {
        width: 300px;
    }
}

/* End Tablet Styling */


/* Mobile Styling */
@media screen and (max-width: 500px) {
    .page-background {
        background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/ministries/hero-mobile-missions-partners.jpg");
    }

    .mission-partners {
        flex-direction: column;
        align-items: center;
    }

    .mission-partner-icon {
        width: 90%;
        padding-top: 100px;
    }
}

/* End Mobile Styling */