
.page-background {
	background-color: #000000
}

.main-feature {
    height: 400px;
    padding-top: 140px;
}

#single-section-bg {
    background-color: #FFFFFF;
}

.back-button {
    color: #7a1315;
    background-color: #FFFFFF;
    border-color: #e1e1e1;
    margin-left: -15%;
    margin-top: 30px;
    width: 200px;
}

.form-horizontal .control-label {
    text-align: left;
}

.ministry-section {
    padding-top: 50px;
}

.ministry-section h4 {
    color: #535353;
    text-transform: capitalize;
    padding-bottom: 3px;
}

.ministry-section p {
    margin: 0;
    color: #535353;
}

.ministry-section .btn-primary {
    margin-top: 20px;
}


.mission-partner-section {
    padding: 10px 0;
}

.mission-partner-section:first-of-type {
    border-bottom: 2px solid #DDDDDD;
}

.mission-partner-header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.mission-partner-header .event-campus-setter {
    margin-left: 100px;
}

.mission-partner-section p {
    font-family: heebo;
    font-size: 14px;
    line-height: 26px;
    color: #707270;
}

.mission-partner-contact {
    display: flex;
}

.contact-name p {
    font-size: 16px;
    font-weight: 900;
    color: #000;
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-bottom: 20px;
}

.mission-partner-card {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 30px;
}

.mission-partner-card:first-of-type {
    margin-bottom: 20px;
}

.workflow-entry-panel {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px; 
    border-radius: 5px;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    margin: 0 auto;
}

.control-wrapper textarea {
    background-color: #eeeeee;
    border-bottom: unset;
    border: 1px solid #777777;
    color: #333333;
}

.control-wrapper textarea::placeholder { 
    color: #333333;
}

.workflow-entry-panel {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px; 
    border-radius: 5px;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    margin: 0 auto;
}

.name-fields, .info-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.first-name, .last-name, .email-address, .phone-number {
    width: 45%;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.btn-primary {
    margin-top: 50px;
}

/* Responsive Styling for back button */
@media screen and (max-width: 1439.98px) {
    .back-button {
        margin-left: -30px;
    }
}

@media screen and (max-width: 768px) {
    .back-button {
        margin-left: 0;
    }
}

/* End Responsive Styling for back button */

/* Mobile Styling */
@media screen and (max-width: 500px) {
    .page-background {
        background-color: #000000;
    }

    .main-feature {
        padding-top: 80px;
        height: 250px;
    }
    
    .back-button {
        margin-top: 10px;
    }

    .mission-partner {
        margin: 0;
    }

    .mission-partner-policy {
        margin: 0;
    }

    .mission-partner-section h3 {
        margin-top: 0;
    }

    .mission-partner-contact {
        flex-direction: column;
    }

    .contact-info {
        margin-left: 0;
    }
    
    .mission-partner-header {
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
    }

    .mission-partner-header .event-campus-setter {
        margin-left: 0;
        width: 100%;
    }

    .mission-partner-header .navbar-nav>li>a {
        padding-top: 0;
        padding-bottom: 0;
    }

    .mission-partner-card {
        padding: 10px;
    }

    .first-name, .last-name, .email-address, .phone-number {
        width: 100%;
    }

    .form-horizontal .form-group {
        margin-right: 0px;
        margin-left: 0px;
    }
}

/* End Mobile Styling */
