
.page-background {
	background-color: #000000
}

.main-feature {
    height: 400px;
    padding-top: 140px;
}

#single-section-bg {
    background-color: #FFFFFF;
}

.back-button {
    color: #7a1315;
    background-color: #FFFFFF;
    border-color: #e1e1e1;
    margin-left: -15%;
    margin-top: 30px;
    width: 200px;
}

.ministry-section {
    padding-top: 50px;
}

.ministry-section h4 {
    color: #535353;
    text-transform: capitalize;
    padding-bottom: 3px;
}

.ministry-section p {
    margin: 0;
    color: #535353;
}

.ministry-section .btn-primary {
    margin-top: 20px;
}

/* Responsive Styling for back button */
@media screen and (max-width: 1439.98px) {
    .back-button {
        margin-left: -30px;
    }
}

@media screen and (max-width: 768px) {
    .back-button {
        margin-left: 0;
    }
}

/* End Responsive Styling for back button */

/* Mobile Styling */
@media screen and (max-width: 500px) {
    .page-background {
        background-color: #000000;
    }

    .main-feature {
        padding-top: 80px;
        height: 250px;
    }
    
    .back-button {
        margin-top: 10px;
    }
}

/* End Mobile Styling */
