.page-background {
    background-color: black;
}

.main-feature {
    height: 0px;
    padding-top: 140px;
}

/* Mobile Styling */
@media screen and (max-width: 500px){
    .main-feature {
        padding-top: 60px;
        height: 100px;
    }
}