/* ===================================================================
    Notes:

    Non media queried styling is intended for desktops with high resolutions.

    media queries to use 
    max-width       device size
    1439.98px       Desktop Small - devices less then 1440px (reduce by 70%)
    Probably Todo: add another break point to scale site smoother. probably move 70% here and increase top one to 80%
    1023.98px       Medium - devices less than 1024px
    767.98px        Small  - devices less than 768px

    All reductions should be based off the non media queried numbers.
   =================================================================== */

/*** Defaults ***/
body {
    background-color: #000;
}

#masthead {
    position: fixed;
    /* 
    Because this is a fixed position element
    we have to explicitly set it's max-width
    */
    max-width: 1920px;
    z-index: 999;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    /* IE10&11 specific styles go here */  
    #masthead {
        max-width:92%;
    }
 }

.main-feature {
    padding-top: 120px;
}

#section-feature-bg {
    height: 325px;
}

#section-feature-bg, #section-a-bg, #section-b-bg, #section-c-bg, #section-d-bg, #section-e-bg {
    background-color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
}

#zone-feature, #zone-sectiona, #zone-sectionb, #zone-sectionc, #zone-sectiond, #zone-sectione {
    max-width: 80%;
    margin: 0 auto;
}

p {
    color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: akrobat;
    font-weight: 900;
	color: #FFFFFF;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

h1 {
    font-size: 71px;
    line-height: 63px;
}
  
h2 {
	font-size: 45px;
	line-height: 47px;
}

h3 {
    font-size: 40px;
    line-height: 42px;
}

h4 {
    font-size: 32px;
    line-height: 34px;
}

h5 {
    font-size: 24px;
    line-height: 26px;
}

h6 {
    font-size: 18px;
    line-height: 20px;
}

hr {
    border-top: 2px solid #ccc;
    padding-bottom: 20px;
    margin: 0;
}

.button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    margin: 2px;
}

.btn {
    font-family: akrobat;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #E73D30;
    border: 1px solid #E73D30;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 800;
}

.btn-secondary {
    color: #E73D30;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.btn-register {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E73D30;
    color: #FFFFFF;
    font-family: akrobat;
    font-weight: 800;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 0 55px;
    margin-bottom: 3px;
    border-radius: 6px;
    height: 45px;
}

.btn-waitlist {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #E73D30;
    border: 1px solid #E73D30;
    font-family: akrobat;
    font-weight: 800;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 0 55px;
    margin-bottom: 3px;
    border-radius: 6px;
    height: 45px;
}

.btn-live {
    display: inline;
    color: #FFFFFF;
    margin: 0px 10px;
    background-color: #741315;
    border: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-register:hover, .btn-register:active, .btn-register:focus {
    background-color: #FFFFFF;
    border: solid 1px #E73D30;
    text-decoration: none;
    color: #E73D30;
    outline: none;
}

.btn-secondary:hover, .btn-secondary:active,.btn-secondary:focus, .btn-waitlist:hover, .btn-waitlist:active, .btn-waitlist:focus {
    background-color: #E73D30;
    text-decoration: none;
    color: #FFFFFF;
    outline: none;
}

a:focus {
	outline: none;
	text-decoration: none;
	color: #FFFFFF;
}

.dark a {
    color: #E73D30;
}

/**** End Defaults ****/

/**** Header Section ****/
.masthead {
    font-family: akrobat;
	font-weight: 700;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
	width: 100%;
}

.announcement-bar {
    min-height: 55px;
    background-color: #f5d127;
    color: #000;
    font-weight: 400;
    font-family: Heebo;
    text-align: center;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.announcement-bar p {
    color: #000000;
}

/* spacer for when announcement bar is active */
.announcement-bar-showing {
    padding-top: 175px;
}

.masthead-upper {
    padding: 0 8%;
}

.header {
    display: flex;
    height: 120px;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navigation-left, .navigation-right {
    display: flex;
}

.navigation-right {
    align-items: center;
}

.stars-logo img {
    display: block;
    width: 163px;
    height: 100px;
    margin-right: 30px;
}

.navigation-primary-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0;
    padding-inline-start: 0;
    padding-left: 10px;
}

.navigation-primary-item {
    list-style-type: none;
}

.navigation-primary-item-a, .navigation-primary-item-button, .nav > li > a, .masthead-navitem  {
    color: #FFFFFF;
    font-family: akrobat;
    font-size: 15px;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    line-height: 17px;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-primary-item-a:not(:hover), .navigation-primary-item-button:not(:hover) {
    transition: .25s;
    background: rgba( 255, 255, 255, 0);
    border-radius: 4px;
}

.navigation-primary-item-button {
    border: none;
    -webkit-appearance: none;
    padding: 10px 20px;
}

.navigation-primary-item-button a {
    color: #FFFFFF;
}

.ccv-link {
    color: #E73D30 !important;
}

.navigation-primary-item-button a:hover {
    text-decoration: none;
}

.navigation-primary-dropdown-content-wrapper {
    display: none;
    position: absolute;
    color: #FFFFFF;
    transition: .25s;
    min-width: 115px;
    z-index: 999;
}
.navigation-primary-dropdown-content {
    background: rgba(0,0,0,0.8);
    color: #FFFFFF;
    border-radius: 4px;
    margin-top: 2px;
    padding: 10px 0;
}

.navigation-primary-dropdown-content a {
    display: block;
    font-size: 11px;
    text-decoration: none;
}

.navigation-primary-dropdown-content a:hover {
    color: #FFFFFF;
    transition: .25s;
    background:#999999;
    cursor: pointer;
    border-radius: 0;
}

.navigation-primary-item:hover .navigation-primary-dropdown-content-wrapper {
    display: block;
    padding: 0;
}

.navigation-primary-item:hover .navigation-primary-item-button, .dropdown.open > a > span {
    color: #FFFFFF;
    transition: .25s;
    background: rgba( 255, 255, 255, .20);
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.dropdown > a > span {
    padding: 20px;
    text-align: center;
}

.navigation-primary-item button:focus {
    outline: none;
}

.dropdown-content-item {
    line-height: 17px;
    padding: 2px 15px;
}

.loginstatus {
    height: 120px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.loginstatus li a {
    display: flex;
    align-items: center;
}

.dropdown-toggle.navbar-link {
    height: 120px;
}

.navbar-link {
    border: unset !important;
}

.loginstatus .dropdown .profile-photo {
    width: 75px;
    height: 75px;
    float: unset;
    margin-right: 0;
}

.loginstatus .dropdown-menu {
    font-size: 11px;
    background: rgba(0,0,0,0.8);
    margin-top: 52px;
}

.loginstatus .dropdown-menu li a {
    color: #FFFFFF;
    padding: 2px 15px;
    margin: 0;
    border: unset;
    font-family: akrobat;
    font-size: 11px;
    font-weight: 800;
}

.loginstatus .dropdown-menu li a:hover, .masthead-navitems .dropdown-menu li a:hover {
	background-color: #999999;
}

.masthead-navitem, .loginstatus li a {
    padding: 6px 12px;
    border: 2px solid #555555;
}

.stars-create-account {
    margin-left: 20px;
}

.masthead-navitem {
    display: flex;
}

.masthead-navitem:hover, .loginstatus li a:hover {
    text-decoration: none;
    color: #FFFFFF ;
}

/* create account admin bar hacky hack position fix */
.stars-create-account .config-bar {
    margin-left: -200px;
    margin-top: 40px;
}

/* bootstrap override */
.nav>li>a:hover, .nav>li>a:focus {
    background-color: unset;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: transparent;
    border-color: transparent;
}

.navbar-nav>li>.dropdown-menu {
    left: 90px;
    top: 100px;
}

/* Hamburger Menu (Full Menu) */
.fa.fa-bars {
    color: #FFFFFF;
    font-size: 40px;
    line-height: 42px;
}

.masthead-fullmenu {
    background-color: #FFFFFF;
    position: fixed;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    -webkit-transition-duration: 600ms;
    transition-duration: 600ms;
    overflow-y: auto;
    z-index: 5000;
}

.masthead-fullmenu.offscreen {
    transform: translate(100%);
    -webkit-transform: translate(100%);
}

.navigation-mobile-title {
    height: 55px;
    padding: 0 20px;
    background-color: #E73D30;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation-mobile-title h5 {
    color: #FFFFFF;
}

.navigation-mobile-title .mdi-close {
    font-size: 24px;
    color: #FFFFFF;
}
 
.navigation-mobile-items {
    display: flex;
    flex-direction: column;
    padding: 15px 35px 15px 20px;
    list-style: none;
}

.navigation-mobile-item, .navigation-mobile-items .dropdown-menu > li > a {
    color: #E73D30;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 15px;
    line-height: 35px;
    font-weight: normal;
    list-style: none;
    padding: 0 10px;
}

.navigation-mobile-items button {
    border: unset;
}

.navigation-mobile-items > li > a:hover, .navigation-mobile-items > li > a:focus {
    color: #E73D30;
    text-decoration: none;
}

/* End Hamburger Menu (Full Menu) */

/**** End Header ****/

/**** Feature Section ****/
.title {
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title h1 {
	padding: 0;
    padding-bottom: 25px;
    margin: 0 auto;
}

.title p {
    font-size: 18px;
    line-height: 22px;
    width: 850px;
    margin: 0 auto;
}

/**** End Feature Section ****/

/**** Sections ****/
.background-card {
    margin: 0 auto;
    padding: 30px;
}

/* Left & Right Container */
.infoSection {
    display: flex;
}

.graphicSection {
    height: 500px;
    width: 850px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.graphicSection i {
    font-size: 50px;
    color: #FFFFFF;
}

.graphicSection h5 {
    font-weight: 800;
    -webkit-font-smoothing: auto;
    line-height: 34px;
    text-transform: none;
    padding-bottom: 40px;
}

.graphicSection p {
    font-family: akrobat;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.right p, .left p {
    color: #333333;
    font-size: 14px;
    line-height: 19px;
}

.infoSection h1, .infoSection h2, .infoSection h3, .infoSection h4, .infoSection h5 {
   color: #E73D30;
}

.left-and-right-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 70px 0;
}

#zone-sectiona .left-and-right-container {
    padding-top: 100px;
}

.left-and-right-container .left {
    width: 45%;
    max-width: 45%;
    margin-right: 70px;
}

.left .img-row {
    display: flex;
    justify-content: flex-end;
}

.left img {
    width: 580px;
    height: 360px;
    max-width: unset;
}

.left-and-right-container .right {
    width: 50%;
    max-width: 50%;
}

.left-and-right-container .rounded-edge-img {
    border-radius: 5px;
}

.left-and-right-container .btn-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.left-and-right-container .btn-row a {
    min-width: unset;
    width: 200px;
    max-width: 200px;
    margin-right: 15px;
}

/* Tabbed Panel Cards */
.tabbed-panel-view-cards {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
}

.tabbed-panel-view-cards .header {
    background-color: #ffffff;
}

.tabbed-panel-view-cards .header h4 {
    font-size: 26px;
    line-height: 28px;
    padding-bottom: 3%;
    color: #E73D30;
    font-weight: 800;
}

.tabbed-panel-view-mobile {
    display: none;
}

.tabbed-panel-view-desktop {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.tabs {
    display: flex;
}

.tab {
    text-decoration: none;
    text-transform: capitalize;
    background-color: #E3E3E3;
    color: #E73D30;
    font-family: Akrobat;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 13px 40px;
    margin: 0 1px;
}

.tab:first-child {
    margin-left: 0;
}

.tab:hover, .tab:active {
    background-color: #E73D30;
    border-bottom: none;
    text-decoration: none;
    color: #FFFFFF;
}

.tabbed-panel-view-desktop > div .tab-selected {
    background-color: #E73D30;
}

.tab-selected {
    color: #ffffff !important;
    background-color: #E73D30;
}

.tabbed-panel-view-cards .background-card {
    padding: 50px;
    min-height: 350px;
}

.tabbed-panel-view-cards .left {
    margin-left: 20px;
}

.tabbed-panel-view-cards-content {
    margin: 0 0 20px 0;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#practice-panel, #game-panel, #rules-panel {
    background-color: #eeeeee;
}

.practice-panel, .game-panel, .rules-panel {
    background-color: #eeeeee;
}

/* Select Sytle Dropdown */
.select-dropdown-button {
    padding: 8px 20px 8px 25px;
    background-color: #FFFFFF;
    border: 2px solid #dddddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-dropdown-button h6 {
    color: #E73D30;
    font-weight: 800;
}

.select-dropdown-button b {
    color: #E73D30;
    margin-left: 50px;
}

.select-dropdown-button .fa-caret-down:before {
    font-size: 30px;
    padding-left: unset;
}

.select-dropdown .dropdown-menu {
    top: unset;
    left: unset;
}

.select-dropdown .dropdown-menu a {
    font-family: akrobat;
    font-size: 13px;
    line-height: 15px;
}

/* Summer Camps Section */
.summer-camps-row {
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
}

.summer-camps-row .rectangle {
    background-color: #E73D30;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1375px;
    padding: 15px;
}

.summer-camps-row .rectangle button {
    color: #E73D30;
    background-color: #FFFFFF;
    text-align: center;
    border: none;
    font-weight: 800;
    font-size: 18px;
    line-height: 13px;
    padding: 8px 20px;
    margin-left: 50px;
}

.summer-camps-row .select-dropdown .dropdown-menu {
    margin-left: 50px;
}

.summer-camps-row .btn-secondary {
    min-width: unset;
    width: 200px;
    max-width: 200px;
    margin-left: 50px;
}

.summer-camps-row .btn-secondary h6 {
    color: inherit;
}

/* Map Section */
.our-campuses-map-window {
    background: #777;
 }

.our-campuses-map {
    min-height: 550px;
}

.campus-info-window {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
 
.campus-info-window h6, .campus-info-window p {
    text-align: left;
    color: #4f4f4f;
}

.campus-info-window h6 {
    font-size: 15px;
    line-height: 16px;
    padding: 0 0 10px 0;
}

.campus-info-window p {
    margin: 0;
    font-size: 10px;
    font-weight: 400;

}

.campus-info-window a {
    font-weight: 500;
    color: #E73D30;
}

.sports-offered {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.sports-offered img {
    width: 37px;
    height: 37px;
    margin-right: 6px;
    padding: 3px;
}

.exceptional-stars img {
    width: 45px;
    height: 45px;
    margin-left: -3px;
}

.sports-offered img:hover {
    background-color: #E3E3E3;
    border-radius: 4px;
}

.campus-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.campus-contact img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* google overrides */
.gm-style .gm-style-iw-c {
    border-radius: 0;
}

/**** End Sections ****/

/**** Start Event Card Styling ****/
.event-row {
    width: 1000px;
    margin: 0 auto;
}

/* Nav buttons */
.event-cards-header {
    text-align: center;
    padding: 35px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.event-cards-header div {
    min-width: 80px;
}
.event-cards-header h3 {
    color: #E73D30;
    padding: 0;
}

.event-cards-header .nav-button {
    color: #E73D30;
    font-size: 19px; 
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
    background-color: unset;
    border-width: unset;
    border-style: unset;
    border-color: unset;
    border-image: unset;
}

.event-cards-row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 70px 0px;
}

.event-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    width: 31%;
    min-height: 500px;
    min-height: 545px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 5px;
    border: unset;
    border-width: unset;
    background-color: unset;
    z-index: 1;
    overflow: hidden;
}
 
.event-card .image img {
    object-fit: cover;
    width: 100%;
    min-height: 200px;
    max-height: 200px;
}

.event-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 10px 16px;
    min-height: 150px;
    max-height: 150px;
}

.event-card-content p {
    color: #4f4f4f;
}

.event-card-title {
    padding: 10px 16px 0 16px;
}

.event-card-title h6 {
    color: #333333;
}

.event-card-footer {
    padding: 0px 16px 10px 16px;
}

.event-card-footer .link a {
    color: #E73D30;
    text-transform: uppercase;
    font-family: akrobat;
    font-weight: bold;
}

.link {
    text-align: right;
}



/**** End Event Card Styling ****/

/**** Footer ****/
.mainfooter {
    background-color: #000;
    padding: 50px 10%;
    min-height: 310px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-right .stars-logo img {
    width: 215px;
    height: 130px;
    margin-right: 0;
}

.footer-right .ccv-logo img {
    width: 60px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 6px;
    margin: 10px 0 10px 18px;
}

.footer-center {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    margin-left: 140px;
}

.footer-links-section {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.footer-links-section h5 {
    font-size: 19px;
    line-height: 8px;
    font-weight: 800;
    margin-bottom: 20px;
}

.footer-links-section a {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -.5px;
    font-weight: 600;
    color: #b2b2b2;
    font-family: heebo;
    -webkit-font-smoothing: antialiased;
}

.footer-links-section a:hover {
	text-decoration: none;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.footer-social a:first-of-type {
    padding-right: 15px;
}

.footer-social img {
    height: 67px;
	width: 67px;
}

.footer-copyright {
    font-family: akrobat;
    color: #b2b2b2;
    font-size: 10px;
	line-height: 17px;
    font-weight: 500;
    text-align: center;
}

.server-name {
    color: #b2b2b2;
    padding-top: 25px;
    margin-left: 18px;
}
/**** End Footer ****/

/**** loading spinner ****/
/* cheatsheet html to use for spinner
    <div class="loading">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
*/
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.button-loading {
    justify-content: flex-start;
    align-items: flex-start;
    height: 50px;
}

.lds-spinner {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.button-lds-spinner {
    width: 32px;
    height: 32px;
}

.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}

.button-lds-spinner div {
    transform-origin: 16px 16px;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #E73D30;
}

.button-lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 1.5px;
    left: 14.5px;
    width: 2.5px;
    height: 7px;
    border-radius: 20%;
    background: #E73D30;
}

.lds-spinner.spinner-light div::after {
    background: #FFFFFF;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/**** end loading spinner ****/

/**** Responsive Styling ****/
@media screen and (max-width: 1439.98px) {
    #zone-feature, #zone-sectiona, #zone-sectionb, #zone-sectionc, #zone-sectiond, #zone-sectione {
        max-width: 90%;
    }

    .announcement-bar {
        font-size: 18px;
    }

    h1 {
        font-size: 62px;
        line-height: 55px;
    }
      
    h2 {
        font-size: 39px;
        line-height: 41px;
    }
    
    h3 {
        font-size: 35px;
        line-height: 37px;
    }
    
    h4 {
        font-size: 28px;
        line-height: 30px;
    }
    
    h5 {
        font-size: 21px;
        line-height: 23px;
    }
    
    h6 {
        font-size: 15px;
        line-height: 17px;
    }

    .navigation-primary-item-button {
        text-align: center;
    }

    /* Navigation */
    .masthead-upper {
        padding: 0 30px 0 60px;
    }

    .stars-logo img {
        margin-right: unset;
    }

    .navigation-primary-item-button, .loginstatus li a {
        font-size: 16px;
        line-height: 18px;
    }

    .loginstatus {
        margin-left: 0;
    }

    /* Feature & Sections */
    .infoSection {
        min-height: 364px;
    }

    .left-and-right-container {
        padding: 49px 0;
    }

    .left img {
        width: 406px;
        height: 252px;
    }

    #zone-sectiona .left-and-right-container {
        padding-top: 70px;
    }

    .right h3, .right p {
        width: 455px;
    }

    .right p {
        font-size: 12px;
        line-height: 17px;
    }

    .graphicSection {
        width: 595px;
        height: 350px;
    }

    .graphicSection p {
        font-size: 21px;
        line-height: 24px;
    }

    /* Start Event Card Styling */
    .event-row {
        width: 900px;
    }

    .event-card {
        width: 45%;
        padding-bottom: 15px;
    }

    /* End Event Card Styling */

    /* footer */
    .mainfooter {
        padding: 50px 5%;
    }

    .footer-center {
        margin-left: 40px;
    }

    .footer-links-section {
        min-width: 150px;
    }

    .footer-links-section:first-of-type {
        margin-right: 20px;
    }
}
/**** End Small Desktop ****/

/* Due to large menu, change to hamburger bars at non standard query  */
@media screen and  (max-width: 1075px ) {
    .header-navigation {
        display: none;
    }

    .navbar-toggle {
        display: block;
        margin-top: 25px;
    }

    .masthead-fullmenu {
        width: 30%;
    }
}

/**** Tablet Sytling  ****/
/* Reduce by 40% */
@media screen and (max-width: 1023.98px) {
    /* Zones & Sections */
    #section-feature-bg {
        height: 208px;
    }

    .announcement-bar {
        font-size: 15px;
    }

    /* Navigation */
    .masthead-upper {
        padding: 0 10px 0 20px;
    }

    .stars-logo img {
        margin-right: unset;
    }

    .navigation-primary-item-button {
        padding: 10px;
    }

    .loginstatus .dropdown > a > span {
        padding: 0 0 0 10px;
    }

    .navbar-nav > li > .dropdown-menu {
        left: 10px;
    }

    /* Feature & Sections */
    .title {
        padding-top: 40px;
    }

    .left-and-right-container {
        flex-direction: column;
        align-items: center;
    }

    #zone-sectiona .left-and-right-container {
        padding-top: 30px;
    }

    .left-and-right-container .left {
        margin-right: 0;
        width: 100%;
        max-width: 100%;
    }

    .left .img-row {
        display: block;

    }

    .left img {
        width: 100%;
        height: auto;
    }

    .left-and-right-container .right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }

    .right p {
        width: 100%;
    }

    .right > div:first-child {
        margin-right: 20px;
    }

    .right > div:first-child h3, .right > div:first-child p {
        width: 390px;
    }

    /* Summer camp */
    .summer-camps-row {
        padding-top: 25px;
    }

    .summer-camps-row .rectangle {
        justify-content: space-evenly;
    }

    .graphicSection h5 {
        font-weight: 600;
    }

    /* Start Event Card Styling */
    .event-row {
        width: 668px;
    }

    .event-card {
        width: 45%;
        padding-bottom: 15px;
    }

    /* End Event Card Styling */

    /* Footer */
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-center {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-links-section {
        width: 100%;
        align-items: center;
        padding-bottom: 40px;
    }

    .footer-links-section:first-of-type {
        margin-right: 0;
    }

    .footer-links-section h5 {
        width: 100%;
        text-align: center;
        border-bottom: 2px solid #b2b2b2;
        padding-bottom: 20px;
    }

    .footer-social {
        padding-bottom: 13px;
    }
    
    /* End Footer */
}
/**** End Tablet Styling ****/

/**** Phone Styling ****/
@media screen and (max-width: 767.98px) {
    /* defaults */
    .main-feature {
        padding-top: 55px;
    }

    .announcement-bar-showing {
        padding-top: 110px;
    }

    .btn {
        width: 100%;
        max-width: unset;
        margin: 5px 0;
    }

    /* Phone styling based on mobile design mookups */
    h1 {
        font-size: 28px;
        line-height: 30px;
    }

    h2 {
        font-size: 26px;
        line-height: 28px;
    }
          
    h3 {
        font-size: 25px;
        line-height: 20px;
    }

    h4 {
        font-size: 23px;
        line-height: 25px;
    }

    h5 {
        font-size: 20px;
        line-height: 22px;
    }
    
    h6 {
        font-size: 16.5px;
        line-height: 18.5px;
    }

    /* Zones & Sections */
    #section-feature-bg {
        height: 55px;
    }

    #zone-feature, #zone-sectiona, #zone-sectionb, #zone-sectionc, #zone-sectiond, #zone-sectione {
        max-width: 100%;
        margin: 0 15px;
    }

    /* Navigation Section */
    .header-navigation {
        display: none;
    }

    .navbar-toggle {
        display: block;
    }

    .fa.fa-bars {
        font-size: 30px;
        line-height: 32px;
    }

    .masthead-upper {
        padding: 0 15px 0 25px;
    }

    .masthead-brand .navbar-toggle {
        height: 120px;
        margin: 0;
        padding: 9px 0;
    }

    .masthead-fullmenu {
        width: 70%;
    }

    .header, .masthead-brand .navbar-toggle {
        height: 55px;
    }

    .stars-logo {
        display: flex;
        align-items: center;
        height: 55px;
    }

    .stars-logo img {
        width: 80px;
        height: 50px;
    }

    /* Titles & Headings */
    .title {
        padding-top: 17.5px;
    }

    .title h1 {
        padding: 0;
        margin: 0;
    }

    .title p {
        display: none;
    }

    /* Left & Right Container */
    #zone-sectiona .left-and-right-container, .left-and-right-container {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .left-and-right-container .right {
        padding: 17.5px 8.5px;
        flex-direction: column;
        align-items: flex-start;
    }

    .right h3 {
        padding-top: 0;
        padding-bottom: 10px;
    }

    .right p {
        font-size: 13px;
        line-height: 16px;
        margin: 0;
    }

    .right > div:first-child {
        margin-right: 0;
    }

    .right > div:first-child h3, .right > div:first-child p {
        width: 100%;
    }

    .right > div:last-child {
        width: 100%;
    }

    .left-and-right-container .btn-row a {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
    }

    .select-dropdown, .select-dropdown-button {
        width: 100%;
        display: flex;
    }

    .select-dropdown-button {
        justify-content: center;
    }

    .right .btn-row {
        padding-top: 10px;
        width: 100%;
    }

    .select-dropdown-button b {
        margin-left: 10px;
    }

    .select-dropdown-button .fa-caret-down:before {
        font-size: 20px;
    }

    .select-dropdown .dropdown-menu {
        width: 80%;
        margin-top: 48px;
        margin-left: 20px;
    }

    .select-dropdown .dropdown-menu a {
        font-size: 18px;
        line-height: 20px;
        padding: 8px 0;
        margin: 0 auto;
    } 

    .select-dropdown .dropdown-menu li {
        text-align: center;
    }

    /* summer camps dropdown */
    .summer-camps-row .btn-secondary {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }

    .summer-camps-row {
        padding: 25px 0 0 0;
    }

    .summer-camps-row .rectangle {
        flex-direction: column;
        padding: 0 15px 15px 15px;
        margin-bottom: 20px;
    }

    .summer-camps-row .rectangle button {
        margin: 0;
    }

    .summer-camps-row .select-dropdown .dropdown-menu {
        width: 75%;
        margin-top: 44px;
        margin-left: 17px;
    }

    .graphicSection {
        width: 100%;
        height: 216px;
    }

    .graphicSection i {
        font-size: 25px;
    }    

    .graphicSection   h5 {
        font-size: 14px;
        line-height: 16px;
    }

    .graphicSection p {
        font-size: 14px;
        line-height: 16px;
    }

    /* tabbed panels */
    .tabbed-panel-view-cards .background-card {
        padding: 20px;
    }
    
    .tabbed-panel-view-desktop {
        display: none;
    }

    .tabbed-panel-view-mobile {
        display: flex;
    }

    .mobile-items {
        width: 100%;
    }

    .mobile-items .item {
        font-family: akrobat;
        font-size: 18px;
        line-height: 20px;
        padding: 8px 0;
        margin: 0 auto;
    }

    .mobile-items .tab-selected {
        color: #333 !important;
        background-color: transparent;
    }

    /* Map styling */
    .our-campuses-map-window {
        margin: 0 -15px;
    }

    /* Start Event Card Styling */
    .event-row {
        width: 100%;
        max-width: 325px;
    }

    .event-cards-row {
        padding: 0 0 70px 0;
    }

    .event-cards-header {
        align-items: center;
        flex-direction: column;
    }

    .nav-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    /* End Event Card Styling */

    /* footer */
    .footer-right .stars-logo {
        height: unset;
    }

    .server-name {
        margin-left: 0;
    }

    /* loading indicator */
    .button-loading {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

/**** End Phone Styling ****/

/* ===================================================================
      Non standard media queries
   =================================================================== */
@media screen and (max-width: 860px) {
    .loginstatus .dropdown .profile-photo {
        display: none;
    }
}
