/* ===================================================================
    Notes:

    1. Desktop View
    2. Laptop View: max-width: 1024px
    3. Tablet View: max-width: 768px
    4. Mobile View: max-width: 500px
    5. Other
   =================================================================== */



/* Defaults */
/* #zone-feature {
    margin: 0 10%;
} */

#section-feature-bg {
    height: 325px;
}

#section-a-bg, #section-b-bg, #section-c-bg, #section-d-bg, #section-e-bg {
    background-color: #FFFFFF;
}

#zone-sectiona, #zone-sectionb, #zone-sectionc, #zone-sectiond, #zone-sectione {
    padding: 0 10%;
}

p {
    color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: akrobat;
    font-weight: 900;
	color: #FFFFFF;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

h1 {
    font-size: 88px;
    line-height: 78px;
	letter-spacing: -3px;
}
  
h2 {
	font-size: 56px;
	line-height: 58px;
}

h3 {
    font-size: 50px;
    line-height: 52px;
}

h4 {
    font-size: 40px;
    line-height: 42px;
}

h5 {
    font-size: 30px;
    line-height: 32px;
}

h6 {
    font-size: 22px;
    line-height: 24px;
}

.button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    margin: 2px;
}

.btn-primary {
    font-family: akrobat;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background-color: #E73D30;
    border: solid 1px #E73D30;
    border: 1px solid transparent;
    text-align: center;
}

.btn-primary:hover {
    background-color: #FFFFFF;
    border: solid 1px #E73D30;
    text-decoration: none;
    color: #E73D30;
}

.btn-primary:active {
    color: #E73D30;
    background-color: #FFFFFF;
    border: solid 1px #FFFFFF;
    text-decoration: none;
}

a:focus {
	outline: none;
	text-decoration: none;
	color: #FFFFFF;
}

.dark a {
    color: #EA3E29;
}

/* End Defaults */

/* Header Section */
.masthead {
    font-family: akrobat;
	font-weight: 700;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
	width: 100%;
}

.announcement-bar {
    padding-top: 5px;
    background-color: #E73D30;
    color: #FFFFFF;
    font-weight: normal;
    font-family: akrobat;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 5px;
    font-size: 20px;
}

.masthead-upper {
    padding: 0 8%;
}

.header {
    display: flex;
    height: 120px;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navigation-left, .navigation-right {
    display: flex;
}

.navigation-right {
    align-items: center;
}

.stars-logo img {
    display: block;
    width: 163px;
    height: 100px;
    margin-right: 30px;
}

.navigation-primary-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0;
    padding-inline-start: 0;
    padding-left: 10px;
}

.navigation-primary-item {
    list-style-type: none;
}

.navigation-primary-item-a, .navigation-primary-item-button, .nav > li > a, .masthead-navitem  {
    color: #FFFFFF;
    font-family: akrobat;
    font-size: 18px;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-primary-item-a:not(:hover), .navigation-primary-item-button:not(:hover) {
    transition: .25s;
    background: rgba( 255, 255, 255, 0);
    border-radius: 4px;
}

.navigation-primary-item-button {
    border: none;
    -webkit-appearance: none;
    padding: 10px 20px;
}

.navigation-primary-dropdown-content-wrapper {
    display: none;
    position: absolute;
    color: #FFFFFF;
    transition: .25s;
    min-width: 115px;
    z-index: 999;
}
.navigation-primary-dropdown-content {
    background: rgba(0,0,0,0.8);
    color: #FFFFFF;
    border-radius: 4px;
    margin-top: 2px;
    padding: 10px 0;
}

.navigation-primary-dropdown-content a {
    display: block;
    font-size: 13px;
    text-decoration: none;
}

.navigation-primary-dropdown-content a:hover {
    color: #FFFFFF;
    transition: .25s;
    background:#999999;
    cursor: pointer;
    border-radius: 0;
}

.navigation-primary-item:hover .navigation-primary-dropdown-content-wrapper {
    display: block;
    padding: 0;
}

.navigation-primary-item:hover .navigation-primary-item-button, .dropdown.open > a > span {
    color: #FFFFFF;
    transition: .25s;
    background: rgba( 255, 255, 255, .20);
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.dropdown > a > span {
    padding: 20px;
    text-align: center;
}

.navigation-primary-item button:focus {
    outline: none;
}

.dropdown-content-item {
    line-height: 17px;
    padding: 2px 15px;
}

.loginstatus {
    height: 120px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.loginstatus li a {
    display: flex;
    align-items: center;
}

.dropdown-toggle.navbar-link {
    height: 120px;
}

.navbar-link {
    border: unset !important;
}

.loginstatus .dropdown .profile-photo {
    width: 75px;
    height: 75px;
    float: unset;
    margin-right: 0;
}

.loginstatus .dropdown-menu {
    font-size: 14px;
    background: rgba(0,0,0,0.8);
    margin-top: 52px;
}

.loginstatus .dropdown-menu li a {
    color: #FFFFFF;
    padding: 3px 5px;
    border: unset;
    font-family: akrobat;
    font-size: 13px;
    font-weight: 800;
}

.loginstatus .dropdown-menu li a:hover, .masthead-navitems .dropdown-menu li a:hover {
	background-color: #999999;
}

.masthead-navitem, .loginstatus li a {
    margin: 7px 0px;
    padding: 6px 12px;
    border: 2px solid #555555;
}

.masthead-navitem {
    display: flex;
}

.masthead-navitem:hover, .loginstatus li a:hover {
    text-decoration: none;
    color: #FFFFFF ;
 }

/* bootstrap override */
.nav>li>a:hover, .nav>li>a:focus {
    background-color: unset;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: transparent;
    border-color: transparent;
}

.navbar-nav>li>.dropdown-menu {
    left: 90px;
    top: 100px;
}

/* Hamburger Menu (Full Menu) */
.fa.fa-bars {
    color: #FFFFFF;
    font-size: 30px;
    line-height: 32px;
}

.masthead-fullmenu {
    background-color: #FFFFFF;
    position: fixed;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    -webkit-transition-duration: 600ms;
    transition-duration: 600ms;
    overflow-y: auto;
    z-index: 5000;
}

.masthead-fullmenu.offscreen {
    transform: translate(100%);
    -webkit-transform: translate(100%);
}

.navigation-mobile-title {
    height: 55px;
    padding: 0 5px 0 20px;
    background-color: #E73D30;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation-mobile-title h5 {
    color: #FFFFFF;
}

.navigation-mobile-title .mdi-close {
    font-size: 24px;
    color: #FFFFFF;
}
 
.navigation-mobile-items {
    display: flex;
    flex-direction: column;
    padding: 15px 35px 15px 20px;
    list-style: none;
}

.navigation-mobile-item, .navigation-mobile-items .dropdown-menu > li > a {
    color: #E73D30;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 18px;
    line-height: 35px;
    font-weight: normal;
    list-style: none;
    padding: 0 10px;
}

.navigation-mobile-items button {
    border: unset;
}

.navigation-mobile-items > li > a:hover, .navigation-mobile-items > li > a:focus {
    color: #E73D30;
    text-decoration: none;
}

/* End Hamburger Menu (Full Menu) */

/* End Header */

/* Feature Section */
.title {
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title h1 {
	padding: 0;
    padding-bottom: 25px;
    max-width: 1200px;
    margin: 0 auto;
}

.title p {
    font-size: 29px;
    line-height: 34px;
    max-width: 850px;
    margin: 0 auto;
}

/* End Feature Section */

/* Sections */
.background-card {
    margin: 0 auto;
    padding: 30px;
}

/* Tabbed Panel Cards */
.tabbed-panel-view-cards {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: rgba(0, 0, 0, 0.87);
    background-color: #efefefef;
    border-radius: 5px;
}

.tabbed-panel-view-cards .header {
    background-color: #ffffff;
}

.tabbed-panel-view-cards .header h4 {
    font-size: 32px;
    line-height: 34px;
    padding-bottom: 3%;
    color: #E73D30;
    font-weight: 800;
}

.tabbed-panel-view-mobile {
    display: none;
}

.tabbed-panel-view-desktop {
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    background-color: #ffffff;
}

.items {
    display: flex;
}

.item {
    text-decoration: none;
    text-transform: capitalize;
    background-color: #E3E3E3;
    color: #E73D30;
    padding: 13px 40px;
    font-family: Heebo;
    font-size: 16px;
    font-weight: 900;
    line-height: 17px;
    margin: 1px;
    border-radius: 5px;
}

.tabbed-panel-view-desktop > div .tab-selected {
    background-color: #E73D30;
}

.tab-selected {
    color: #ffffff !important;
    background-color: #E73D30;
}

.tabbed-panel-view-cards-content {
    margin: 0 0 20px 0;
}

/* End Tabbed Panel Cards */

/* Left & Right Container */
.infoSection {
    min-height: 520px;
    display: flex;
}

.graphicSection {
    height: 500px;
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.graphicSection i {
    font-size: 50px;
    color: #FFFFFF;
}

.graphicSection h5 {
    font-weight: 800;
    -webkit-font-smoothing: auto;
    line-height: 34px;
    text-transform: none;
    padding-bottom: 40px;
}

.graphicSection p {
    font-family: akrobat;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #FFFFFF;
    text-transform: uppercase;
}


.right p {
    color: #333333;
    font-size: 17px;
    line-height: 24px;
}

.infoSection h1, .infoSection h2, .infoSection h3, .infoSection h4, .infoSection h5 {
   color: #E73D30;
}

.left-and-right-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#zone-sectiona .left-and-right-container {
    padding-top: 10px;
}

.left-and-right-container .left {
    width: 45%;
    max-width: 45%;
}

.left-and-right-container .right {
    width: 50%;
    max-width: 50%;
}

.left-and-right-container .rounded-edge-img {
    border-radius: 5px;
}

.left-and-right-container .btn-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.left-and-right-container .btn-row a:first-of-type {
    margin-right: 15px;
}

.left-and-right-container .btn-row a {
    min-width: unset;
    width: 200px;
    max-width: 200px;
}

/* End Left & Right Container */

/* Campus Sports Dropdown */
.campus-dropdown-button {
    padding: 15px 20px 15px 25px;
    width: 260px;
    background-color: #FFFFFF;
    border: 2px solid #dddddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.campus-dropdown-button h6 {
    color: #E73D30;
    font-weight: 800;
}

.campus-dropdown-button b {
    color: #E73D30;
}

.campus-dropdown-button .fa-caret-down:before {
    font-size: 30px;
    padding-left: unset;
}

.campus-dropdown .dropdown-menu {
    top: unset;
    left: unset;
}

.campus-dropdown .dropdown-menu a {
    font-family: akrobat;
    font-size: 16px;
    line-height: 18px;
}

/* End Campus Sports Dropdown */

/* Rectangle Section */
.summer-camps-row {
    padding-bottom: 90px;
}

.rectangle {
    background-color: #E73D30;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle button {
    color: #E73D30;
    background-color: #FFFFFF;
    text-align: center;
    border: none;
    font-weight: 800;
    font-size: 22px;
    line-height: 16px;
    padding: 17px 20px;
    margin: 38px 0;
    margin-left: 50px;
}

.summer-camps-row .campus-dropdown .dropdown-menu {
    margin-top: -37px;
    margin-left: 50px;
}

/* End Rectangle Section */

/* Quote Sections */

/* Map Section */
.our-campuses-map-window {
    background: #777;
 }
 
.infowindow {
    text-align: left;
}

.infowindow p {
    margin: 0;
}

.our-campuses-map {
    min-height: 550px;
}

.icon-details {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    max-width: 300px;
    width: 300px;
}

.campus-info-window img {
    width: 25px;
    height: 25px;
}

/* End Map Section */

/* End Sections */

/* Footer */
.mainfooter {
    background-color: #000;
	padding: 0 10%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 310px;
    padding-top: 3%;
}

.footer-copyright {
    color: rgba(213,213,213,0.87); 
    padding-top: 10px; 
    font-family: Roboto Condensed; 
    font-size: 12px;
	line-height: 14px;
    font-weight: 200;
    text-align: center;
}

.footer-social {
    display: flex;
    justify-content: center;
	padding-top: 15px;
}

.footer-social a{
    padding-right: 4%;
}

.footer-social i {
    color: #FFFFFF;
    font-size: 30px;
    margin: 10px 0;
    padding: 0 20px;
}

.footer-social i:first-of-type {
    margin-left: -20px;
}

.footer-links .nav > li > a {
    background-color: #000;
    color: white;
}

.footer-links {
    display: flex;
    justify-content: space-around;
	font-family: akrobat;
    font-size: 14px;
	line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
	padding-top: 15px;
}

.footer-links a:hover {
	text-decoration: none;
}

.footer-links-section {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.footer-links-section h5 {
    font-size: 20px;
    width: 80%;
    margin: 0;
    margin-bottom: 10px;
    line-height: 22px;
    padding: 0;
    text-align: left;
}

.footer-links-section a {
    color: rgba(213,213,213,0.87);
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.mainfooter-dark a {
    text-decoration: none;
    font-family: akrobat;
}

.footer-social img {
    height: 70px;
	width: 70px;
}

/* End Footer */



/**** Laptop Styling ****/
@media screen and (max-width: 1024px) {
    /* Zones & Sections */
    /* #zone-sectiona, #zone-sectionb, #zone-sectionc, #zone-sectiond, #zone-sectione {
        padding: 2% 0 0 0;
    } */

    /* End Zones & Sections */

    /* Navigation */
    .masthead-upper {
        padding: 0 10px 0 20px;
    }

    .stars-logo img {
        margin-right: unset;
    }

    .navigation-primary-item-button {
        padding: 10px;
    }

    .loginstatus .dropdown > a > span {
        padding: 0 0 0 10px;
    }

    .navbar-nav > li > .dropdown-menu {
        left: 10px;
    }

    /* End Navigation */


    /* Tabbed Panel Cards */
    .tabbed-panel-view-cards {
        margin-right: 0;
        margin-bottom: 20px;
    }

    /* End Tabbed Panel Cards */

    
    /* Footer */
    .mainfooter {
        padding-top: 15px;
        padding-bottom: 50px;
        padding: 5% 1% 5% 1%;
    }

    .footer-links {
        margin-bottom: 20px;
        display: block;
        text-align: center;
    }

    .footer-social {
        justify-content: space-around;
    }

    .footer-social img {
        height: 50px;
        width: 50px;
    }

    .footer {
        height: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .footer-links-section {
        padding: 2% 0;
        min-width: 200px;
        width: unset;
    }

    .footer-links-section a {
        color: rgba(213,213,213,0.87);
        display: block;
    }

    .footer-links-section h5 {
        font-size: 20px;
        color: #fff;
        width: 100%;
        margin: 1%;
        text-align: center;
    }
    
    /* End Footer */
}

/**** End Laptop Styling ****/



/**** Tablet Styling ****/
@media screen and (max-width: 768px) {
    /* Zones & Sections */
    #section-feature-bg {
        height: unset;
    }

    /* End Zones & Sections */


    /* Navigation Section */
    .header-navigation {
        display: none;
    }

    .navbar-toggle {
        display: block;
    }

    .masthead-brand .navbar-toggle {
        height: 120px;
        margin: 0;
        padding: 9px 0;
    }

    .masthead-fullmenu {
        width: 40%;
    }

    
    /* .main-feature {
        padding: 0;
    } */

    /* .collapse {
        display: block;
    } */

    /* End Navigation Section */


    /* Titles & Headings */
    /* .title h1 {
        font-size: 34px;
        line-height: 36px;
        padding-bottom: 10px;
    }

    h2 {
        font-size: 18px;
        line-height: 20px;
    }

    .title p {
        font-size: 15px;
        line-height: 17px;
        margin: 0 5% 2% 5%;
    } */

    /* End Titles & Headings */


    /* Section Video */ 
    /* .section-video {
        padding-top: 50px;
        padding-bottom: 50px;
        width: 100%;
    } */

    /* End Section Video */


    /* Left & Right Container */
    /* .left-and-right-container {
        padding: 20px 0;
    }

    .infoSection h2 {
        font-size: 30px;
     }

     .graphicSection h2 {
        font-size: 24px;
        line-height: 26px;
        text-transform: none;
        margin: 0;
    }

    .graphicSection p {
        font-size: 22px;
        line-height: 24px;
        padding-top: 20px;
    } */

    /* End Left & Right Container */


    /* Tabbed Panel Cards */
    /* .item {
        text-decoration: none;
        text-transform: capitalize;
        background-color: #E3E3E3;
        color: #E73D30;
        padding: 13px 29px;
    }

    .tab-selected {
        color: #ffffff !important;
        background-color: #E73D30;
    } */
    
    /* End Tabbed Panel Cards */
}

/**** End Tablet Styling ****/



/**** Mobile Styling ****/
@media screen and (max-width: 500px) {
    /* Navigation Section */
    .announcement-bar {
        font-size: 12px;
    }

    .masthead-upper {
        padding: 0 15px 0 25px;
    }

    .masthead-brand {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .header, .masthead-brand .navbar-toggle {
        height: 55px;
    }

    .stars-logo {
        display: flex;
        align-items: center;
        height: 55px;
    }

    .stars-logo img {
        width: 80px;
        height: 50px;
    }
    /* End Navigation Section */


    /* Zones & Sections */
    #zone-sectiona, #zone-sectionb, #zone-sectionc, #zone-sectiond, #zone-sectione {
        /* padding: 1% 0; */
    }

    #section-feature-bg {
        background-size: cover;
        padding: 0;
    }

    /* End Zones & Sections */


    /* Left & Right Container */
    /* .infoSection {
        min-height: unset;
    } */

    /* End Left & Right Container */


    /* Tabbed Panel Cards */
    /* .tabbed-panel-view-desktop {
        display: none;
    }

    .tabbed-panel-view-mobile {
        display: flex;
        align-items: center;
    }
    
    .mobile-items {
        max-width: 100%;
        margin: 0 auto 10px 0;
        font-size: 16px;
        font-family: akrobat;
        font-weight: bold;
        line-height: 18px;
        text-transform: uppercase;
        text-decoration: none;
        color: #707270;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-items .item {
        display: inline-flex;
        align-items: center;
    }

    .mobile-items .item {
        visibility: hidden;
    }

    .mobile-items.slick-initialized .item {
        visibility: unset;
        padding: 5px 10px;
    }

    .item {
        padding: 0 10px;
        white-space: nowrap;
    }

    .item:focus {
        outline: none;
        border: none;
    }

    .nav-arrow {
        font-size: 24px;
        color: #707270;
    }

    .nav-next {
        padding-left: 10px;
    }

    .group-heading {
        margin: 0 10px;
    } */

    /* End Tabbed Panel Cards */


    /* Footer */

    /* End Footer */
}

/**** End Mobile Styling ****/





/* ===================================================================
      If you HAVE to use media queries other than the standard sizes (max-width: 1024px,
       max-width: 768px, max-width: 500px), put them here.
   =================================================================== */



 @media screen and (max-width: 1290px) {
     /* Navigation Section */
    /* .navigation-primary-items {
        padding-left: 20px;
    }

    .nav > li > a {
        font-size: 18px;
        line-height: 20px;
    } */

    /* End Navigation Section */
}

/* Overriding Bootstrap media query */
@media (max-width: 1150px) {
    /* .collapse {
        display: none;
    }
 
    .navbar-collapse.collapse {
        display: none !important;
    } */

    /* End Navigation Section */
 }

 @media screen and (max-width: 860px) {
    .loginstatus .dropdown .profile-photo {
        display: none;
    }
}
