#section-feature-bg {
    background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-contact-us.jpg");
}

.contact-us h2 {
    font-size: 40px;
    line-height: 42px;
    font-weight: 700;
    color: #000000;
}

.name-fields, .info-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.first-name, .last-name, .email-address, .phone-number {
    width: 45%;
}

.info {
    display: none;
}

.contact-us .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.contact-us-card {
    padding: 3% 5%;
}

.alert {
    margin-top: 20px;
}

/**** Phone Styling ****/
@media screen and (max-width: 767.98px) {  
    #section-feature-bg {
        background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-mobile-contact-us.jpg");
    }

    .first-name, .last-name, .email-address, .phone-number {
        width: 100%;
    }
}

/**** End Phone Styling ****/