/* Campus Card Section */
.field-status-title {
    color: #E73D30;
    font-family: Akrobat;
    text-align: center;
    font-size: 55px;
    line-height: 57px;
    padding-bottom: 45px;
    padding-top: 40px;
}

#desktopFieldStatus {
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 5%;
}

.campus-card {
    display: flex;
    flex-direction: column;
    margin: 0 10px 20px 10px;
    background-color: #ededed;
    width: 345px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 5px;
    border: unset;
    border-width: unset;
    overflow: hidden;
}

.card-content {
    padding: 40px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.card-content h4 {
    color: #000000;
    font-family: Akrobat;
    font-size: 38px;
    line-height: 20px;
}

.card-content p {
    color: #000000;
}

.summary {
    color: #6d6d6d;
    padding-bottom: 25px;
    padding-top: 5px;
    flex-grow: 1;
}

.card-footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-footer p {
    margin: 0;
    font-weight: bold;
}

.field-open {
    background-color: #68c019;
}

.field-closed {
    background-color: #e73d30;
}

.campus-dropdown {
    display: none;
}

.campus-dropdown li {
    margin: 0%;
}

.campus-dropdown ul {
    width: 100%;
}

.campus-dropdown button {
    width: 100%;
    padding: 5px 15px 5px 25px;
    border: none;
    box-shadow: none;
    background-color: #fff;
}

.campus-dropdown button:hover {
    background-color: #E73D30;
    color: white;
}

.dropdown-menu {
    top: unset;
    width: 100%;
    position: absolute;
    float: left;
    background-color: #FFFFFF;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: none;
}

#btnCampusSelect {
    color: #FFFFFF;
    width: 100%;
    background-color: #E73D30;
    border-color: #E73D30;
    border-radius: 10px;
    height: 30px;
    min-width: 200px;
    margin-bottom: 5%;
}

@media screen and (max-width: 1500.98px) {
    #desktopFieldStatus {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -5%;
    }
}

@media screen and (max-width: 760px) {
    .campus-dropdown {
        display: block;
        width: 100%;
        margin: 0 5%;
    }

    select {
        -webkit-appearance: button-bevel;
        -moz-appearance: none;
        text-overflow: '';
    }
    
    .campus-card {
        margin: 0 15px;
        display: none;
    }
    
    .card-content h4 {
        font-size: 35px;
    }
}

/* End Campus Card Section */
