#section-a-bg {
    background-color: #efefef;
}

#section-feature-bg {
    background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/support/hero-new-account.jpg");
}

/**** Phone Styling ****/
@media screen and (max-width: 767.98px) {  
    #section-feature-bg {
        background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/support/hero-mobile-new-account.jpg");
    }
}

/**** End Phone Styling ****/