#section-a-bg {
    background-color: #f7f7f7;
}

#zone-sectiona {
    padding: 3% 0;
}

#section-feature-bg {
    background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/support/hero-new-account.jpg");
}

.form-control, input {
    border: 1px solid lightgrey;
    background-color: #efefef;
}

.control-label {
    font-size: 13px;
    font-weight: bold;
}

legend {
    color: #E73D30;
    border-bottom: none;
    font-weight: bold;
}

/**** Phone Styling ****/
@media screen and (max-width: 767.98px) {  
    #section-feature-bg {
        background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/support/hero-mobile-new-account.jpg");
    }

    #zone-sectiona {
        max-width: 100%;
        margin: 0 5%;
    }
}

/**** End Phone Styling ****/