.page-background {
    background-color: black;
    background-image: var(--page-background);
    background-position: center top;
    background-size: cover;
}

.title-image {
    display: none;
}

#subnavbar-bg {
    display: flex;
}

.main-feature {
    margin-bottom: 35px;
}

#featImage {
    display: none;    
}

.main-feature {
    height: 0;
    padding-top:35px;
}

.main-img-container {
    height:100%;
}

.promo-feature-img {
    height:100%;
}

.left-and-right-container {
    align-items: initial;
}

.left-and-right-container .right {
    max-width:none;
    width: 50%;
}

/* Mobile Styling */
@media screen and (max-width: 500px){
    /* .page-background {
        background-image: unset;
    } */

    .title-image {
        display: block;
        background-size: contain;
        margin-left: -15px;
        margin-right: -15px;
    }

    .main-feature {
        padding-top: 20px;
        height: 0px;
    }
    
    .series-header-image {
        min-height: 165px;
    }
    
    .page-background {
        background-image: unset;
        background-attachment: unset;
        background-size: cover;
        /* margin-left: -15px;
        margin-right: -15px; */
    }

    #zone-feature {
        margin: 0;
    }

    #featImage {
        display: block; 
        margin-left: -15px;
        margin-right: -15px;   
    }

    .promo-feature-img {
        height:auto;
        width:100%;
        padding-top:100%;
    }

    .left-and-right-container .right {
        max-width:none;
        width: 100%;
    }
}