
#section-feature-bg {
    height: 946px;
    background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-home.jpg");
    position: relative;
}

#zone-sectionb {
    padding: 0;
    text-align: center;
    max-width: 100%;
}

/* Top section */
.title {
    padding-top: 205px;
}

.title h1 {
    padding-bottom: 15px;
}

.title p {
    width: 700px;
}

.top-and-bottom-container {
    position: relative;
    z-index: 900;
    margin-top: -450px;
}

.top {
    width: 100%;
}

.homepage-image {
    border-radius: 6px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image-top {
    background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/feature/feature-home-top.jpg");
    height: 600px;
    border-radius: 6px;
}

.image-middle-left {
    background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/feature/feature-home-left.jpg");
    width: 100%;
    height: 370px;
    border-radius: 6px;
}

.image-middle-right {
    background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/feature/feature-home-right.jpg");
    width: 100%;
    height: 370px;
    border-radius: 6px;
}

.image-bottom {
    background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/feature/feature-home-bottom.jpg");
    height: 600px;
    border-radius: 6px;
}

.middle {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 0;
}

.middle-left, .middle-right {
    width: 100%;
}

.middle-left {
    padding-right: 1%;
}

.bottom {
    width: 100%;
}

.top-and-bottom-container .mobile-button-text {
    display: none;
}

.content-container {
	height: inherit;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn-homepage {
	font-size: 22px;
	line-height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 14px 66px;
}

.btn-primary:hover {
    border: solid 1px #FFFFFF;
}

.locations-title {
    padding-top: 75px;
}

.locations-title h2 {
    color: #E73D30;
    font-size: 50px;
    line-height: 40px;
    letter-spacing: -1px;
}

.locations-title p {
    font-size: 21px;
    color: #4f4f4f;
}

/* Theme Overrides */
.main-feature {
    overflow: unset;
}
/* Theme Overrides */

/**** Responsive Styling ****/
@media screen and (max-width: 1439.98px) {
    #section-feature-bg {
        height: 730px;
    }

    #zone-sectionc {
        max-width: 100%;
        margin: 0 5%;
    }

    .top-and-bottom-container {
        margin-top: -325px;
    }

    .image-top {
        height: 400px;
    }

    .image-middle-left {
        background-position: bottom;
    }

    .image-middle-right {
        background-position: left;
    }

    .image-bottom {
        height: 260px;
    }
    
    .middle-left, .middle-right {
        width: 100%;
    }

    .middle {
        padding-top: 1%;
    }
}

/** End Laptop Styling **/

/** Tablet Styling **/
@media screen and (max-width: 1023.98px) { 
    #zone-sectionc {
        margin: 0 5%;
    }

    #zone-feature {
        margin: 0;
    }
     
    .service-times-title {
        margin-top: unset;
    }
    
    .image-middle-right {
        background-position: unset;
    }

    h2 {
        font-size: 34px;
        line-height: 36px;
    }

    .middle {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 15px;
    }

    .middle-left {
        padding-right: 0;
    }
 
    .middle-right {
        padding-top: 15px;
    }

    .btn-homepage {
        font-size: 16.5px;
        line-height: 18.5px;
    }
}

/** End Tablet Styling **/

/** Mobile Styling **/
@media screen and (max-width: 767.98px) {
    #section-feature-bg {
        height: 90px;
        background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-mobile-home.jpg");
    }

    .locations-title {
        padding-top: 30px;
    }

    .locations-title h2 {
        font-size: 26px;
        line-height: 28px;
    }

    .locations-title p {
        font-size: 16px;
        line-height: 18px;
    }

    .title {
        padding-top: 17.5px
    }

    .top-and-bottom-container {
        margin-top: 0;
        padding-top: 15px;
    }

    .image-top {
        background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/feature/feature-mobile-home-top.jpg");
        background-repeat: no-repeat;
        background-position: center;
        height: 300px;
    }

    .image-middle-left {
        background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/feature/feature-mobile-home-left.jpg");
        height: 300px;
    }

    .image-middle-right {
        background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/feature/feature-mobile-home-right.jpg");
        background-repeat: no-repeat;
        background-position: center;
        height: 300px;
    }

    .image-bottom {
        background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/feature/feature-mobile-home-bottom.jpg");
        background-repeat: no-repeat;
        background-position: center;
        height: 300px;
    }

    /* .top-and-bottom-container h2 {
        display: none;
    }

    .top-and-bottom-container .mobile-button-text {
        display: inline-block;
    } */

    .btn-homepage {
        width: 90%;
    }
} 

/** End Mobile Styling **/