
#subnavbar-bg {
    display: none;
}

#section-h-bg {
    background-color: rgb(248, 248, 244);
}

/* .main-feature {
    padding-top: 65px;
} */

/*  
 *  Declaring global variables
 */

 .page-background {
    background-color: var(--page-bg-color);
 }

 .event-cards-header h3 {
    color: black;
    font-size: 35px;
}

h1 {
    font-size: 61px;
    color: rgb(255, 255, 255);
}

h2{ 
    font-size: 41px;
    line-height:1.0em;
    color: rgb(255, 255, 255);
}

h3 {
    font-size: 22px;
    line-height:1.4;
    color: rgb(255, 255, 255);
    font-family:'Heebo';
    text-transform: none;
}

p {
    font-size: 16px;
    font-family: 'heebo';
    color: rgb(255, 255, 255);
    line-height: 1.6;
    padding: 2px;
}

.learn-more-button {
    padding: 600px;
}

.centerText {
    text-align: center;
    color: rgb(255, 255, 255);
}

.horizontalLine {
    margin:0 auto;
    width:200px;
    border-bottom: 6px solid rgb(255, 255, 255);
    text-align: center; 
}

.actionButton {
    background-color: var(--actionButton-bg-color); /* rgb(48, 45, 45); */
    border: var(--actionButton-border);  /* 2px solid rgb(255, 255, 255); */
    color: var(--actionButton-txt-color);  /* rgb(255, 255, 255); */
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 300px;
    margin: 4px 2px;
    opacity: 0.9;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}

 .actionButton:hover {
    background-color: var(--actionButton-hover-bg-color); /*  rgb(2, 0, 0);  */
    color: var(--actionButton-hover-txt-color);  
    text-decoration: none;
} 

.centerImage img {
    margin:0 auto;
    text-align: center; 
    padding-top: 60px;
}

/* Mobile Styling for Global Variables */
@media screen and (max-width: 500px) { 

    .event-cards-header h3 {
        color: black;
        font-size: 20px;
        text-align: center; 
    }

    h1 {
        font-size: 29px;
    }

    h2 {
        text-align: center;
        font-size: 24px;
    }

    h3 {
        padding-top: 40px; 
        text-align: center;
        font-size: 17px;
    }

    p {
        font-size: 12px;
        line-height: 1.6;
        text-align: center;
        padding: 2px;
    }

    .horizontalLine {
        margin:0 auto;
        width:100px;
        border-bottom: 6px solid rgb(255, 255, 255);
        text-align: center; 
    }
     
    .actionButton {
        background-color: var(--actionButton-bg-color);   /* rgb(44, 44, 42); */
        border: var(--actionButton-border);          /* 1px solid rgb(255, 255, 255); */
        color: var(--actionButton-txt-color);  /* rgb(255, 255, 255); */
        padding: 5px 5px;    
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: var(--actionButton-border-fontsize); /* 16px */
        width: 290px;
        margin: 4px 2px;
        opacity: 0.9;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.2s;
        cursor: pointer;
    }   

    .actionButton:hover {
        background-color: var(--actionButton-hover-bg-color); /*  rgb(2, 0, 0);  */
        color: var(--actionButton-hover-txt-color);     /* white */
        text-decoration: none;
    } 

    .centerImage img{
        padding-top: 10px;
    }
}

/*  
 *  End Declaring global variables
 */

/*  
 *  Page Background Section
 */

#feature-image-desktop {
    padding-top: var(--section-feature-padding-top-desktop); /* 300px; */
}

.page-background {
    background-image: var(--section-feature-bg-desktop);  
}  

.main-feature {
    height: var(--section-feature-height-desktop);
}

ul.feature-list {
    list-style-position: inside;
    font-size: var(--section-feature-fontsize-desktop);
    padding-left: var(--section-feature-list-padding-left-desktop);
}

/* Mobile Styling */
@media screen and (max-width: 500px) { 
    .page-background {
        background-image: var(--section-feature-bg-mobile); 
        background-size: contain;
    }

    .main-feature {
        min-height: 600px;
        height: var(--section-feature-height-mobile);
    }
}

@media screen and (max-width: 375px) { 
    .page-background {
        background-image: var(--section-feature-bg-mobile); 
        background-size: contain;
    }

    .main-feature {
        min-height: 550px;
        height: var(--section-feature-height-mobile);
    }
}

@media screen and (max-width: 320px) { 
    .page-background {
        background-image: var(--section-feature-bg-mobile); 
        background-size: contain;
    }

    .main-feature {
        min-height: 470px;
        height: var(--section-feature-height-mobile);
    }
}

/*  
 *  End Page Background Section
 */

/*  
 * Double Image Section. (Section A)
 */

#section-a-bg {
    background-image: var(--section-a-bg-desktop);
    height: var(--section-a-height-desktop); /* 900px; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectionA {
    padding-top: var(--section-a-padding-top-desktop); /* 300px; */
}

/* Mobile Styling */
@media screen and (max-width: 500px) { 
    #section-a-bg {
        background-image: var(--section-a-bg-mobile);
        height: var(--section-a-height-mobile); /* 700px; */
        /* background-attachment: unset; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    .sectionA img {
        margin: 0 auto;
    }

    .sectionA {
        padding-top: var(--section-a-padding-top-mobile); /* 300px; */
        /* padding-top: 300px; */
    }
}

/*  
 *  End Double Image Section. (Section A)
 */

/*  
 *  Double Image Section. (Section B)
 */

 #zone-sectionb {
    margin: unset; 
    max-width: unset;
    background-size: cover;
    margin-left: -15px;
    margin-right: -15px;
}

.sectionB {
    display: flex;
    width: 100%;
}

.leftsidepictureB {
    background-image: var(--section-b-bg-left);
    width: 50%;
    height: 500px;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.leftsidepictureB img {
    max-width: 250px;
}

.rightsidepictureB {
    background-image: var(--section-b-bg-right);
    width: 50%;
    height: 500px;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rightsidepictureB img {
    max-width: 450px;
}

/* Mobile Styling */
@media screen and (max-width: 500px) { 
    .sectionB {
        flex-direction: column;
    }

    .leftsidepictureB, .rightsidepictureB {
        width: 100%;
        height: var(--section-b-height-mobile-and-desktop); /* 300px; */
    }

    #zone-sectionb {
        margin-left: 0px;
        margin-right: 0px;
    }
}

/*  
 *  End Double Image Section. (Section B)
 */

/*  
 *  Double Image Section. (Section C)
 */
#section-c-bg {
    background-image: var(--section-c-bg-desktop);
    height: var(--section-c-height-desktop); /* 800px; */
    /* background-color:  var(--section-c-bg-color); */
    /* background-size: contain; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectionC {
    padding-top: var(--section-c-padding-top-desktop); /* 450px; */
    /* padding-top: 450px; */
}

/* Mobile Styling */
@media screen and (max-width: 500px) { 
    #section-c-bg {
        background-image: var(--section-c-bg-mobile);
        height: var(--section-c-height-mobile); /* 600px; */
        background-attachment: unset;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .sectionC {
        padding-top: var(--section-c-padding-top-mobile);
    }
}

/*  
 *  End Double Image Section. (Section C)
 */

/*  
 *  Double Image Section. (Section D)
 */

 #zone-sectiond {
    margin: unset; 
    max-width: unset;
    background-size: cover;
    margin-left: -15px;
    margin-right: -15px;
}

.sectionD {
    display: flex;
    width: 100%;
}

.leftsidepicture {
    background-image: var(--section-d-bg-left);
    width: 50%;
    height: 500px;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.leftsidepicture img {
    max-width: 250px;
}

.rightsidepicture {
    background-image: var(--section-d-bg-right);
    width: 50%;
    height: 500px;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rightsidepicture img {
    max-width: 450px;
}

/* Mobile Styling */
@media screen and (max-width: 500px) { 
    .sectionD {
        flex-direction: column;
    }

    .leftsidepicture, .rightsidepicture {
        width: 100%;
        height: var(--section-d-height-mobile-and-desktop); /* 300px; */
    }

    #zone-sectiond {
        margin-left: 0px;
        margin-right: 0px;
    }
}

/*  
 *  Double Image Section. (Section D)
 */

/*  
 * Section with two photos right next to each other. (Section E)
 */

#zone-sectione {
    margin: unset; 
    max-width: unset;
    background-size: cover;
    margin-left: -15px;
    margin-right: -15px;
}

.sectionE {
    display: flex;
    width: 100%;
}

.leftsidepictureE {
    background-image: var(--section-e-bg-left);
    width: 50%;
    height: 500px;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.leftsidepictureE img {
    max-width: 250px;
}

.rightsidepictureE {
    background-image: var(--section-e-bg-right);
    width: 50%;
    height: 500px;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rightsidepictureE img {
    max-width: 450px;
}

/* Mobile Styling */
@media screen and (max-width: 500px) { 
    .sectionE {
        flex-direction: column;
    }

    .leftsidepictureE, .rightsidepictureE {
        width: 100%;
        height: var(--section-e-height-mobile-and-desktop); /* 300px; */
    }

    #zone-sectione {
        margin-left: 0px;
        margin-right: 0px;
    }
}

/*  
 * End Section with two photos right next to each other. (Section E)
 */

 /*  
 *  Normal Section with one background Image. (Section F)
 */
 #section-f-bg {
    background-image: var(--section-f-bg-desktop);
    height: var(--section-f-height-desktop); /* 800px; */
    /* background-color:  var(--section-f-bg-color); */
    /* background-size: contain; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectionF {
    padding-top: var(--section-f-padding-top-desktop); /* 450px; */
    /* padding-top: 450px; */
}

/* Mobile Styling */
@media screen and (max-width: 500px) { 
    #section-f-bg {
        background-image: var(--section-f-bg-mobile);
        height: var(--section-f-height-mobile); /* 600px; */
        background-attachment: unset;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .sectionF {
        padding-top: var(--section-f-padding-top-mobile);
    }
}

/*  
 *  Normal Section with one background Image. (Section F)
 */


/*  
 *  Double Image Section. (Section G)
 */

 #zone-sectiong {
    margin: unset; 
    max-width: unset;
    background-size: cover;
    margin-left: -15px;
    margin-right: -15px;
}

.sectionG {
    display: flex;
    width: 100%;
}

.leftsidepictureG {
    background-image: var(--section-g-bg-left);
    width: 50%;
    height: 500px;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.leftsidepictureG img {
    max-width: 250px;
}

.rightsidepictureG {
    background-image: var(--section-g-bg-right);
    width: 50%;
    height: 500px;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rightsidepictureG img {
    max-width: 450px;
}

/* Mobile Styling */
@media screen and (max-width: 500px) { 
    .sectionG {
        flex-direction: column;
    }

    .leftsidepictureG, .rightsidepictureG {
        width: 100%;
        height: var(--section-g-height-mobile-and-desktop); /* 300px; */
    }

    #zone-sectiong {
        margin-left: 0px;
        margin-right: 0px;
    }
}

/*  
 *  Double Image Section. (Section G)
 */

 .dashboard-events-row {
     padding-top: 30px;
 }

