#section-feature-bg {
    background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/home/sports/hero-baseball.jpg");
}

#section-e-bg {
    background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/home/sports/background-baseball.jpg");
}

#section-b-bg, #section-d-bg {
    background-color: #ededed;
}