#section-feature-bg {
    background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-camps.jpg");
}

#zone-sectiona {
    max-width: 100%;
}

.camps-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    background-color: #ffffff;
    height: 500px;
}

.camps-row:nth-child(even) {
    background-color: #ededed;
}

.camps-row h3 {
    color: #E73D30;
}

.camps-row .btn {
    padding: 10px 20px;
}

.camps-row .btn-primary {
    font-size: 22px;
    line-height: 24px;
}

.camps-row .btn-row {
    padding-top: 1%;
}

.camps-row p {
    color: #333333;
    font-size: 17px;
    line-height: 24px;
    width: 50%;
}

.camps-row .camp-heading {
    font-weight: 900;
    margin: 0;
}

.camps-missing {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.camps-missing p {
    font-size: 24px;
    line-height: 26px;
    color: #E73D30;
}

/**** Tablet Styling  ****/
@media screen and (max-width: 1023.98px) {
    #zone-sectiona {
        margin: 0;
    }

    .camps-row {
        padding: 0 5%;
        height: 400px;
    }

    .camps-row h3 {
        font-size: 25px;
        line-height: 27px;
    }

    .camps-row p {
        color: #333333;
        font-size: unset;
        line-height: unset;
        width: 100%;
    }

    .camps-row .btn {
        padding: 6px 12px;
    }
}

/**** End Tablet Styling ****/


/**** Phone Styling ****/
@media screen and (max-width: 767.98px) { 
    #section-feature-bg {
        background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-mobile-camps.jpg");
    }

    .camps-missing {
        height: 100px;
    }

    .camps-missing p {
        font-size: 14px;
        line-height: 16px;
    }
}

/**** End Phone Styling ****/