#section-feature-bg {
    background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-exceptional-stars.jpg");
}

#section-e-bg {
    background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/background/background-exceptional-stars.jpg");
}

#section-b-bg, #section-d-bg {
    background-color: #ededed;
}