/* Zones & Sections */
#zone-sectiona {
    min-height: 300px;
}

.title {
    padding-top: 120px;
}

#pnlSportDetails {
    padding-bottom: 115px;
}

#pnlSportDetails h3, #pnlSportDetails h4, #pnlSportDetails h5 {
    color: #E73D30;
}

#pnlSportDetails p {
    color: #6e6e6e;
}

/* Campus / Sport dropdown */
#pnlSportDetails .dropdown-row {
    display: flex;
    justify-content: flex-end;
}

#pnlSportDetails .dropdown-row .select-dropdown .select-dropdown-button {
    border: none;

}

#pnlSportDetails .dropdown-row .select-dropdown .select-dropdown-button b {
    margin-left: 15px;
}

.dropdowns-desktop-view {
    display: flex;
    justify-content: flex-end;
}

.dropdowns-mobile-view {
    display: none;
}

/* End Campus / Sport dropdown */

#sport-summary {
    font-size: 18px;
    width: 80%;
    color: #E73D30 !important;
    padding-bottom: 10px;
}

.sport-title {
    padding-left: 45px;
}

.sport-title h3 {
    padding: 30px 0 25px 0;
}

.sport-title p {
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    padding-bottom: 35px;
}

.left img {
    width: 450px;
    height: auto;
}

.right {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.right h3 {
    padding-bottom: 15px;
}

.rules-panel object {
    min-height: 600px;
}

.rules-panel h3 {
    text-align: center;
    padding: 20px 0;
}

#pdfRulesDownload {
    display: none;
}

.mobile-register {
    display: none;
}

.sport-unavailable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    color: rgba(0, 0, 0, 0.87);
    background-color: #eeeeee;
    border-radius: 5px;
}

#desktopRegister, #mobileRegister {
    opacity: 0;
    transition: 1s;
}

/* End Zones & Sections */

/* Overrides */
.left-and-right-container {
    align-items: unset;
}

#zone-sectiona .left-and-right-container {
    padding-top: unset;
}

.tabbed-panel-view-cards {
    min-height: 450px;
}

.btn-primary {
    width: 250px;
    margin: 10px 0;
}

/* End Overrides */


/* Start Maps / Where To Go Section */
.practice-and-game-map {
    background-color: #eeeeee;
    padding: 0 5% 5% 5%;
}

.map-image {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 5px;
}

/* End Maps / Where To Go Section */


/**** Responsive Styling ****/
@media screen and (max-width: 1439.98px) {
    .responsive-hide {
        display: none;
    }

    .left img {
        width: 400px;
    }
}

/**** Tablet Styling ****/
@media screen and (max-width: 1023.98px) {
    .title {
        padding-top: 75px;
    }
    .sport-title h3 {
        padding: 25px 0 15px 0;
    }

    .sport-title p {
        font-size: 25px;
        line-height: 32px;
        font-weight: 400;
        padding-bottom: 45px;
    }

    .left-and-right-container {
        flex-direction: column-reverse;
    }

    .left-and-right-container .left {
        margin-left: 0;
    }

    .left img {
        width: 100%;
    }

    .left-and-right-container .right {
        align-items: flex-start;
    }
    
    .btn-secondary {
        width: 100%;
    }
}

/* End Tablet Styling */

/**** Phone Styling ****/
@media screen and (max-width: 767.98px) {
    .btn-primary {
        width: 100%;
    }

    .title {
        padding-top: 17.5px;
    }

    .dropdowns-desktop-view {
        display: none;
    }
    
    .dropdowns-mobile-view {
        display: block;
        margin: 20px;
    }

    #pnlSportDetails {
        padding-bottom: 0;
    }

    .navigation-and-title {
        display: flex;
        flex-direction: column-reverse;
    }

    #pnlSportDetails .dropdown-row {
        flex-direction: column-reverse;
        justify-content: flex-start;
        margin-left: -15px;
        margin-right: -15px;
        background-color: #eeeeee;
    }

    .select-dropdown {
        padding-bottom: 10px;
    }

    #pnlSportDetails .dropdown-row .select-dropdown .select-dropdown-button {
        border: 2px solid #dddddd;        
    }

    .sport-title {
        padding-left: 0;
    }

    .sport-title p {
        font-size: 12.5px;
        line-height: 16px;
        padding-bottom: 0;
    }

    .tabbed-panel-view-cards {
        margin: 0 -15px;
        border-radius: 0;
        background-color: #eeeeee;
    }

    .tabbed-panel-view-cards .background-card {
        margin: 0px 15px;
        padding: 0;
    }

    .tabbed-panel-view-mobile {
        padding: 15px;
    }
    
    .mobile-register {
        display: flex;
        margin: 20px;
    }

    .mobile-register a {
        padding: 10px 20px;
    }
    
    .right h3 {
        width: 100%;
    }

    #pdfRules {
        display: none;
    }

    #pdfRulesDownload {
        display: flex;
    }

    .practice-and-game-map .img-responsive {
        max-width: 100%;
    }

    .map-image {
        padding: 0px;
    }
}