/* Zones & Sections */
#section-feature-bg {
    background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-register.jpg");
}

/*  
    careful changing these zone-sections as register and register details share this css file (for consistency)
    register page uses sectiona, register details uses sectionb. 
    same style except different color backgrounds 
*/
#section-a-bg {
    background-color: #efefef;
}

#zone-sectiona, #zone-sectionb {
    margin: 0 125px;
    max-width: 100%;
    padding: 70px 0 50px 0;
}
/* End Zones & Sections */

.title {
    justify-content: center;
    height: 325px;
    padding-top: 0;
}



/* Register Content */
.login-required h5 {
    text-align: center;
    color: #e73d30;
}

.login-required p {
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;
    color: #505050;
    text-align: center;
    padding: 0 0 75px 0;
    margin: 0;
}

.login-required a {
    color: #e73d30;
    font-weight: 700;
}

.login-required a:hover {
    text-decoration: none;
}

/* Register Grid */
.register-mobile {
    display: none;
}

.register-card {
    background-color: #e73d30;
    border-radius: 4px;
    padding: 90px 85px;
}

/* Grid Filter */
.register-filter-row {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-family: akrobat;
    font-weight: 700;
    font-size: 17px;
    line-height: 17.5px;
    padding-bottom: 20px;
}

.filter-row-left {
    display: flex;
}

.register-filter-row input {
    background-color: #FFFFFF;
    border: none;
    border-radius: 4px;
    margin-left: 2px;
    padding: 0 4px;    
}

.register-filter-row .mdi-plus-circle-outline,.register-filter-row .fa-undo {
    color: #FFFFFF;
    margin: 0 10px;
}

.register-filter-row .mdi-plus-circle-outline {
    font-size: 20px;
    line-height: 21px;
}

.register-filter-row .fa-undo {
    font-size: 16px;
    line-height: 17px;
}

.filter-options {
    display: flex;
    align-items: center;
}

.option {
    display: flex;
    align-items: center;
}

.option .select-dropdown-button {
    padding: 5px 10px 5px 20px;
    border-radius: 10px;
    margin: 0 10px;
    border: none;
}

.option .select-dropdown-button h6 {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
}

.option .select-dropdown-button b {
    margin-left: 10px;
}

.option .select-dropdown-button .fa-caret-down:before {
    font-size: 18px;
}

.limit-results {
    margin-left: 10px;
}

.limit-results input {
    width: 50px;
    margin: 0 10px;
    text-align: center;
}


/* Add Filter Modal */
.modal-header {
    padding: 15px 15px 0 15px;
}
.modal-header-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.modal h4 {
    color: #e73d30;
}

.modal p {
    color: #505050;
}

.modal .select-dropdown-button {
    border: none;
}

.modal .select-dropdown-button b {
    margin-left: 10px;
}

.filter-panel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}




/* Grid */
.register-grid {
    background-color: #FFFFFF;
    border-radius: 4px;
}

.register-grid table {
    width: 100%;
}

.register-grid th, .register-grid td {
    border: 1px solid #e2e2e2;
    padding: 20px 35px;
}

.register-grid th {
    background-color: #e73d30;
    color: #FFFFFF;
}

.register-grid th:nth-child(even) {
    background-color: #000000;
}













/* register details */
.name-mobile {
    display: none;
}

.name {
    color: #e73d30;
}

.campus-sport {
    padding: 0 0 0 60px;
}

.division-gender {
    padding: 0 0 20px 60px;
}

.details-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.details-card {
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 45px 60px;
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 400px;
    margin-right: 20px;
}

.content {
    flex-grow: 1;
}

.wait-list h4 {
    color: #e73d30;
}

.content p {
    color: #505050;
}

/* override list item bullet color */
.content ul {
    list-style: none;
}

.content ul li::before {
    content: "\2022";
    color: #e73d30;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -2em;
}

.cost h6 {
    font-size: 24px;
    color: #e73d30;
    padding-bottom: 20px;
}

.action .btn {
    font-weight: 800;
    font-size: 26px;
    line-height: 29px;
    letter-spacing: -1.5px;
    padding: 18px 40px;
    border-radius: 6px;
}

.details-image img {
    width: 100%;
    border-radius: 5px;
}

/* Loading */
.register-grid .loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading h5 {
    color: #e73d30;
    text-align: center;
}

/* overrides */
button:focus {
    outline: none;
}

/**** Responsive Styling ****/
@media screen and (max-width: 1439.98px) {
    #zone-sectiona, #zone-sectionb {
        margin: 0 50px;
    }

    /* Register Grid */
    .register-card {
        padding: 50px 40px;
    }

    .register-grid th, .register-grid td {
        padding: 20px 10px;
        text-align: center;
    }

    .grid-division {
        width: 200px;
    }
}

/**** Tablet Sytling  ****/
/* Reduce by 40% */
@media screen and (max-width: 1023.98px) {
    #section-b-bg {
        background-color: #eeeeee;
    }

    #zone-sectiona, #zone-sectionb {
        margin: 0 20px;
        padding: 50px 0;
    }

    .login-required p {
        font-size: 16px;
        line-height: 23px;
        padding: 0 0 40px 0;
    }

    /* Register Grid */
    .register-card {
        padding: 50px 10px;
    }

    .register-grid th, .register-grid td {
        padding: 20px 0;
    }

    .grid-division {
        width: 150px;
    }



    /* Event Details */

    .name-desktop {
        display: none;
    }

    .name-mobile {
        display: inline-block;
        padding-bottom: 15px;
    }

    .name {
        padding: 0;
    }

    .details-row {
        flex-direction: column-reverse;
        justify-content: flex-start;
        padding: 0;
    }

    .details-card {
        width: 100%;
        margin-right: 0;
        padding: 45px 50px;
    }

    .details-card .content {
        padding-top: 10px;
    }

    .details-card .action {
        padding-top: 15px;
    }

    .action .btn {
        width: 100%;
    }

}

/**** Phone Styling ****/
@media screen and (max-width: 767.98px) {   
    #section-feature-bg {
        background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-mobile-register.jpg");
    } 

    #zone-sectiona, #zone-sectionb {
        padding: 25px 0;
        min-height: 350px;
    }

    .title {
        padding-top: 17.5px;
        height: auto;
    }

    .login-required p {
        font-size: 12.5px;
        line-height: 18.5px;
        margin: 0 40px;
    }

    /* Register Grid */
    .register-card {
        display: none;
    }

    .register-mobile {
        display: flex;
        flex-direction: column;
        min-height: 425px;
    }

    .register-card-mobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #FFFFFF;
        border-radius: 4px;
    }

    .mobile-header {
        width: 100%;
        min-height: 42px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #e73d30;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .current-section {
        text-align: center;
        color: #e73d30;
    }

    .back {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-self: flex-start;
    }

    .back i {
        color: #FFFFFF;
        font-size: 29px;
    }

    .back h5 {
        margin-left: -3px;
    }

    .mobile-body {
        width: 100%;
    }

    .selection-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: #505050;
        border: 1px solid #e2e2e2;
        padding: 5px 40px;
    }

    .selection-item h5 {
        color: #505050;
    }

    .selection-item i {
        font-size: 30px;
    }

    .link-item {
        border: 1px solid #e2e2e2;
        padding: 20px 40px;
    }

    .link-item .btn-primary {
        width: 100%;
        background-color: #FFFFFF;
        color: #e73d30;
    }
    /* End Register Grid */

    /* Event Details */
    .details-card {
        padding: 20px 15px;
    }
}

/**** End Phone Styling ****/

