.page-background {
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/plan-your-visit/hero-plan-your-visit.jpg");
    background-size: unset;
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .page-background {
        background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/plan-your-visit/hero-mobile-plan-your-visit.jpg");
    }
}

.main-feature {
    height: 380px;
    padding-top: 150px;
}

#section-a-bg, #section-c-bg, #section-e-bg, #section-g-bg {
    background-color: #ffffff;
}

#section-f-bg {
    display: none;
}

/* use the expanded main feature only for tablet and larger */
@media screen and (max-width: 500px) {
	.page-background {
		background-size: unset;
	}
	
    .main-feature {
        height: 240px;
        padding-top: 90px;
    }

    .plan-a-visit {
        padding: 110px 0 150px !important;
    }
	
    .mobile-reverse-flex-direction {
        flex-direction: column-reverse;
    }
}