/* Zones & Sections */
#section-feature-bg {
    background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-dashboard.jpg");
}

/* End Zones & Sections */

/* Start Person Info */
.person-row {
    display: flex;
    padding: 5% 0;
}

.person-photo img {
    width: 200px;
    height: 200px;
}

.person-profile-info {
    margin-left: 5%;
    width: 100%;
    display: flex;
}

.person-summary {
    width: 100%;
}

.person-heading h3 {
    color: #EA3E29;
    text-align: left;
    padding: 0;
    text-transform: capitalize;
    font-size: 29px;
    line-height: 31px;
}

.person-row p {
    color: #000000;
}

.person-details {
    display: flex;
    padding: 10px 0;
    width: 100%;
}

.person-details div:nth-child(1) {
    padding-right: 10px;
}

.person-details-item {
    display: flex;
    flex-direction: column;
}
.person-details-item h5 {
    padding: 5px 0;
    font-size: 13px;
    line-height: 15px;
    font-weight: 900;
    color: #000000;
    text-transform: capitalize;
    text-align: left;
}

.person-details-item p {
    font-size: 13px;
}

.person-row hr {
    border-top: 1px solid #EA3E29;
    text-align: left;
    width: 150px;
    margin: 0 0 5px 0;
}

/* End Person Info */

/* Start Table */
#pnlGroupView {
    padding-bottom: 50px;
}

.mobile-view {
    display: none;
}

#player-panel, #coach-panel {
    padding: 25px 20px 20px 20px;
    background-color: #efefef;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;
}

td {
    border: 1px solid #e2e2e2;
    background-color: #FFFFFF;
}

.desktop-view-table th, .desktop-view-table td {
    padding: 20px 25px;
}

.desktop-view-table th, .desktop-view-table-row th {
    text-align: center;
}

.desktop-view-table th:nth-child(even) {
    background-color: #A0A0A0;
    border: 1px solid #A0A0A0;
    color: #ffffff;
}

.desktop-view-table th:nth-child(odd) {
    background-color: #E73D30;
    border: 1px solid #E73D30;
    color: #ffffff;
}

td > img {
    margin: 0 10px;
}

td > a > img {
    margin: 0 10px;
}

a:hover, a:focus {
    text-decoration: none;
}

.no-groups-text {
    text-align:center;
    color:#E73D30;
    font-weight:700;
}

/* End Table */

/* Recent Registrations */
.recent-registrations {
    padding: 30px 0;
}

.recent-registrations h3 {
    color: #E73D30;
}

.recent-registrations .title {
    padding-top: 0;
    text-align: left;
}

.recent-registrations .links a:active, .recent-registrations .links a:focus {
    color: #000000;
}

/* End recent registrations */

/* Overrides */
button:focus {
    outline: none;
}
/* End Overrides */


/**** Laptop Sytling  ****/
@media screen and (max-width: 1439.98px) {
    .desktop-view-table th, .desktop-view-table td {
        padding: 20px 10px;
        text-align: center;
    }

}

/**** End Laptop Sytling  ****/


/**** Tablet Sytling  ****/
/* Reduce by 40% */
@media screen and (max-width: 1023.98px) {
    .desktop-view-table th, .desktop-view-table td {
        padding: 20px 0;
    }

    /* Start Table */
    .tabbed-panel-view-mobile {
        padding-top: 20px;
    }

    .tabbed-panel-view-cards {
        margin-bottom: 20px;
        border-radius: 0;
    }

    .mobile-items .tab-selected {
        background-color: #E73D30;
        color: #ffffff !important;
    }

    .desktop-view {
        display: none;
    }
    
    .mobile-view {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #e2e2e2;
        border-left: 1px solid #e2e2e2;
        border-right: 1px solid #e2e2e2;
    }

    .player-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-top: 1px solid #e2e2e2;
        background-color: #FFFFFF;
    }

    .player-mobile h5, .player-mobile b {
        color: #E73D30;
    }

    .player-mobile .mdi {
        font-size: 24px;
    }

    .player-mobile-details th {
        text-align: center;
    }

    .player-mobile-details td {
        border: none;
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        padding: 12px 0;
    }

    .row-mobile-button {
        padding: 20px;
    }

    .row-mobile-button a {
        padding: 10px;
        width: 100%;
    }

    .red {
        background-color: #E73D30;
        color: #ffffff;
    }

    .gray {
        background-color: #A0A0A0;
        color: #ffffff;
    }

    .sport-icon {
        margin: 0 10px;    
    }

    /* End Table */
}
/**** End Tablet Sytling  ****/


/**** Phone Styling ****/
@media screen and (max-width: 767.98px) {      
    /* Zones & Sections */
    #section-feature-bg {
        background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-mobile-dashboard.jpg");
    }

    #section-a-bg {
        background-color: #ededed;
    }
    
    #section-b-bg {
        background-color: #ffffff;
    }

    #zone-sectionb {
        margin: 0;
    }

    /* End Zones & Sections */

    /* Start Overrides */
    .tab {
        padding: 13px 23px;
    }

    .mobile-items {
        display: flex;
    }
    
    #player-panel, #coach-panel {
        padding: 0;
        background-color: #efefef;
    }
    /* End Overrides */

    /* Person Info */
    .person-row {
        flex-direction: column;
    }

    .person-row p {
        font-size: 13px;
    }

    .person-row hr {
        width: unset;
    }

    .person-photo {
        padding-bottom: 5%;
        text-align: center;
    }
    
    .person-profile-info {
        margin-left: 0;
    }

    .person-details-item {
        width: 100%;
    }

    .item-headers {
        width: 20%;
    }

    .person-details div:nth-child(1) {
        padding-right: 0px;
    }

    .person-details-item a {
        width: 100%;
    }
    /* End Person Info */
}

/**** End Phone Styling ****/