/* Zones & Sections */
#section-feature-bg {
    background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-dashboard.jpg");
}

/* End Zones & Sections */

/* Start Person Info */
.person-heading h3 {
    color: #EA3E29;
    text-align: left;
    padding: 0;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 38px;
}

.header {
    height: unset;
}

.header h3 {
    color: #000000;
}

.person-details-item h5 {
    padding: 5px 0;
}

.person-details-item p {
    margin: 0;
    padding: 5px 0;
}

.person-details div:nth-child(1) {
    padding-right: 10px;
}

.person-summary {
    width: 100%;
}

.person-photo img {
    width: 200px;
    height: 200px;
}

.person-details {
    display: flex;
    padding: 10px 0;
    width: 100%;
}

.person-row {
    display: flex;
    padding: 5% 0;
}

.person-profile-info {
    margin-left: 5%;
    width: 100%;
    display: flex;
}

.person-details-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

hr {
    border-top: 1px solid #EA3E29;
    text-align: left;
    width: 150px;
    margin: 0 0 5px 0;
}

#pnlGroupView {
    margin: 40px -15px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th {
    text-align: center;
    padding: 10px;
}  

table tr:nth-child(even) {
    background-color: #f7f7f7;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table, th, td {
    border: 2px solid rgb(224, 224, 224);
    border-collapse: collapse;
}

td, th {
    padding: 5px;
}

td {
    width: 200px;
}

#player-panel, #coach-panel {
    padding: 25px 20px 20px 20px;
    background-color: #efefef;
}

td a {
    color: #308fc8;
}

a:hover, a:focus {
    color: #308fc8;
    text-decoration: underline;
}

/* End Person Info */


/* Start Table */
.desktop-view-table {
    display: block;
}

.player-mobile-view-table {
    display: none;
}

.coach-mobile-view-table {
    display: none;
}

.desktop-view {
    display: block;
}

.mobile-view {
    display: none;
}

/* End Table */


/* Overrides */

.tabbed-panel-view-cards {
    background-color: #ffffff;
}

.person-row p {
    color: #000000;
}

h5 {
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    color: #000000;
    text-transform: capitalize;
    text-align: left;
}

/* End Overrides */


/**** Phone Styling ****/
@media screen and (max-width: 767.98px) {      
    /* Zones & Sections */
    #section-feature-bg {
        background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-mobile-dashboard.jpg");
    }

    #section-a-bg {
        background-color: #ededed;
    }
    
    #section-b-bg {
        background-color: #ffffff;
    }

    #zone-sectionb {
        margin: 0;
    }

    /* End Zones & Sections */

    /* Start Overrides */
    .tabbed-panel-view-cards .header {
        padding: 20px;
    }

    /* End Overrides */

    /* Person Info */
    .person-details-item {
        width: 100%;
    }

    .person-details-item a {
        width: 100%;
    }

    #player-panel, #coach-panel {
        padding: 0;
    }

    .person-row {
        flex-direction: column;
    }

    .person-photo img {
        width: 100%;
        height: 100%;
    }

    .person-photo {
        padding-bottom: 5%;
    }

    .person-profile-info {
        margin-left: 0;
    }

    /* End Person Info */

    /* Start Table */
    table, th, td {
        border: 1px solid rgb(224, 224, 224);
    }

    .desktop-view-table {
        display: none;
    }
    
    .player-mobile-view-table {
        display: block;
    }
    
    .coach-mobile-view-table {
        display: block;
    }
    
    .desktop-view {
        display: none;
    }
    
    .mobile-view {
        display: block;
    }
    
    .mobile-view-table td {
        border: 1px solid rgb(224, 224, 224);
        border-right: none;
        padding-left: 25%;
    }

    td {
        width: 100%;
    }

    .last th {
        border: none;
        padding: 0 10px;
    }

    .dashboard-table-row {
        display: none;
    }

    th a {
        width: 100%;
    }

    .row-mobile-header a {
        margin: 15px 0;
        padding: 10px;    
    }

    tr.last {
        border: none;
    }

    .panel {
        border: none;
    }

    .blue {
        color: #ffffff;
        background-color: #418aca;
        border-color: #418aca;
    }

    .mobile-items .tab-selected {
        background-color: #E73D30;
        color: #ffffff !important;
    }

    .card-header a {
        color: #EA3E29;
    }

    /* End Table */
}



/**** End Phone Styling ****/