/* Zones & Sections */
#section-feature-bg {
    background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-dashboard.jpg");
}

/* End Zones & Sections */

/* Start Person Info */
.person-heading h3 {
    color: #EA3E29;
    text-align: left;
    padding: 0;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 38px;
}

.header {
    height: unset;
}

.header h3 {
    color: #000000;
}

.person-details-item h5 {
    padding: 5px 0;
}

.person-details-item p {
    margin: 0;
    padding: 5px 0;
}

.person-details div:nth-child(1) {
    padding-right: 10px;
}

.person-summary {
    width: 100%;
}

.person-photo img {
    width: 200px;
    height: 200px;
}

.person-details {
    display: flex;
    padding: 10px 0;
    width: 100%;
}

.person-row {
    display: flex;
    padding: 5% 0;
}

.person-profile-info {
    margin-left: 5%;
    width: 100%;
    display: flex;
}

.person-details-item {
    display: flex;
    flex-direction: column;
}

hr {
    border-top: 1px solid #EA3E29;
    text-align: left;
    width: 150px;
    margin: 0 0 5px 0;
}

#pnlGroupView {
    margin: 0px -15px 40px -15px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}


#player-panel, #coach-panel {
    padding: 25px 20px 20px 20px;
    background-color: #efefef;
}

/* End Person Info */


/* Start Table */
.desktop-view-table {
    width: 100%;
}

.desktop-view-table th, .desktop-view-table td {
    padding: 20px 35px;
}

.desktop-view-table th:nth-child(even) {
    background-color: #A0A0A0;
    color: #ffffff;
}

.desktop-view-table th:nth-child(odd) {
    background-color: #E73D30;
    color: #ffffff;
}

.player-mobile-view-table {
    display: none;
}

.coach-mobile-view-table {
    display: none;
}

.dashboard-title {
    margin: 0 15px;
}

.dashboard-title h2 {
    color: #000000;
}

.desktop-view {
    display: block;
}

.mobile-view {
    display: none;
}

td > img {
    margin: 0 10px;
}

td > a > img {
    margin: 0 10px;
}

table, th, td {
    border: 2px solid rgb(224, 224, 224);
    border-collapse: collapse;
    text-align: center;
}

a:hover, a:focus {
    text-decoration: none;
}

.no-groups-text {
    text-align:center;
    color:#E73D30;
    font-weight:700;
}

/* End Table */


/* Overrides */

.card {
    margin-bottom: 0px;
    border: none;
}

.tabbed-panel-view-cards {
    background-color: #ffffff;
}

.person-row p {
    color: #000000;
}

.item-headers h5 {
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    color: #000000;
    text-transform: capitalize;
    text-align: left;
}

.select-dropdown-button {
    border: 1px solid #dddddd;
}

.recent-registrations {
    padding: 5% 0;
}

.recent-registrations h3 {
    color: #E73D30;
}

.recent-registrations .title {
    padding-top: 0;
    text-align: left;
}

.links a {
    color: #000000;
}

.links a:hover, .links a:active, .links a:focus  {
    color: #656363;
}

/* End Overrides */


/**** Laptop Sytling  ****/
@media screen and (max-width: 1439.98px) {
    .desktop-view-table th, .desktop-view-table td {
        padding: 20px 10px;
        text-align: center;
    }
}

/**** End Laptop Sytling  ****/


/**** Tablet Sytling  ****/
/* Reduce by 40% */
@media screen and (max-width: 1023.98px) {
    .desktop-view-table th, .desktop-view-table td {
        padding: 20px 0;
    }
}
/**** End Tablet Sytling  ****/


/**** Phone Styling ****/
@media screen and (max-width: 767.98px) {      
    /* Zones & Sections */
    #section-feature-bg {
        background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-mobile-dashboard.jpg");
    }

    #section-a-bg {
        background-color: #ededed;
    }
    
    #section-b-bg {
        background-color: #ffffff;
    }

    #zone-sectionb {
        margin: 0;
    }

    /* End Zones & Sections */

    /* Start Overrides */
    .tabbed-panel-view-cards .header {
        padding: 20px;
    }

    .tab {
        padding: 13px 23px;
        width: 50%;
    }

    .mobile-items {
        width: 100%;
        display: flex;
    }
    
    /* End Overrides */

    /* Person Info */
    .person-details-item {
        width: 100%;
    }

    .person-row p {
        font-size: 13px;
    }

    .item-headers {
        width: 20%;
    }

    .person-details div:nth-child(1) {
        padding-right: 0px;
    }

    .person-details-item a {
        width: 100%;
    }
    
    #player-panel, #coach-panel {
        padding: 0;
    }

    .person-row {
        flex-direction: column;
    }

    .person-photo img {
        width: 100%;
        height: 100%;
    }

    .person-photo {
        padding-bottom: 5%;
    }

    .person-profile-info {
        margin-left: 0;
    }

    /* End Person Info */

    /* Start Table */
    table, th, td {
        border: 1px solid rgb(224, 224, 224);
    }

    .player-mobile-view-table td {
        background-color: #ffffff;
    }

    .coach-mobile-view-table td {
        background-color: #ffffff;
    }

    td, th {
        padding: 12px 0;
    }

    .desktop-view-table {
        display: none;
    }

    .player-mobile-view-table {
        display: block;
    }
    
    .coach-mobile-view-table {
        display: block;
    }
    
    .desktop-view {
        display: none;
    }
    
    .mobile-view {
        display: block;
    }
    
    .player-mobile-view-table, .coach-mobile-view-table {
        border-top: none;
        border-left: none;
        border-bottom: none;
    }

    td {
        width: 100%;
    }

    .last th {
        border: 1px solid rgb(224, 224, 224);
        padding: 12px 0;
    }

    .dashboard-table-row {
        display: none;
    }

    th a {
        width: 100%;
    }

    .row-mobile-header a {
        margin: 15px 0;
        padding: 10px;    
    }

    tr.last {
        border: none;
    }

    .panel {
        border: none;
    }

    .mobile-items .tab-selected {
        background-color: #E73D30;
        color: #ffffff !important;
    }

    .card-header a {
        color: #EA3E29;
    }

    .card-header h5 {
        font-weight: 700;
        padding: 0;
    }

    .red {
        background-color: #E73D30;
        color: #ffffff;
        width: 25%;
        border-radius: 2px;
    }

    .gray {
        background-color: #A0A0A0;
        color: #ffffff;
        width: 25%;
        border-radius: 2px;
    }

    .sport-icon {
        margin: 0 10px;    
    }

    /* End Table */
}

/**** End Phone Styling ****/