/* Zones & Sections */
#section-feature-bg {
    background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-team-toolbox.jpg");
}

#zone-sectiona {
    padding: 2% 5%;
}

#zone-sectionb {
    padding: 0% 5% 2% 5%;
}

#zone-sectiona, #zone-sectionb {
    max-width: 100%;
}

/* End Zones & Sections */

/* Back button */
.back-button .btn {
    min-width: 60px;
    max-width: 60px;
    padding: 10px;
}

/* End Back button */

/* Overrides */
hr {
    margin-top: 70px;
}

th {
    font-weight: 700;
}

td {
    width: 200px;
}

.tabbed-panel-view-cards .header h4 {
    font-size: 34px;
    line-height: 36px;
}

strong {
    font-weight: 700;
}

.tab {
    padding: 10px 20px;
}

.tabbed-panel-view-cards .header {
    height: 70px;
}

.btn-primary {
    padding: 15px 0;
    margin: 10px 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 800;
    width: 250px;
    border-radius: 4px;
}

/* End Overrides */

/* Person Info */
.person-summary {
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    padding: 0 5%;
}

.person-summary h2 {
    color: #EA3E29;
    font-size: 32px;
    text-transform: capitalize;
}

.person-details {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.person-details-item h6 {
    padding: 0;
}

.person-details-item p {
    margin: 0;
    padding: 0;
    color: #000000;
}

.person-details-item {
    padding-bottom: 10px;
} 

.person-details-item h6 {
    font-size: 13px;
    line-height: 15px;
    font-weight: 900;
    color: #000000;
    text-transform: none;
    text-align: left;
}

.toolbox-teams {
    background-color: #EA3E29;
    padding: 1% 5%;
}

.toolbox-teams h2 {
    font-size: 15px;
    line-height: 17px;
    font-family: akrobat;
    font-weight: 900;
    color: #FFFFFF;
    text-transform: capitalize;
}

.dropdown-menu {
    top: unset;
    left: unset;
}

.person-toolbox-teams {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    border: 1px solid #e0e0e0;
}

#btnTeamsSelect {
    padding: 22px 30px;
    border: none;
    border-right: 1px solid #dddddd;
    border-radius: 0px;
    font-size: 15px;
    line-height: 17px;
    font-family: akrobat;
    font-weight: 900;
    color: #EA3E29;
    text-transform: capitalize;
}

.no-groups-text {
    text-align:center;
    color:#E73D30;
    font-weight:700;
}

/* End Person Info */

/* Panels */
#players-panel, #contact-team-panel, #resources-panel {
    background-color: #EEEEEE;
}

#players-panel {
    padding: 0 15px;
}

.player-image img {
    width: 100px;
    height: 100px;
}

.player-image {
    padding-right: 10px;
}

.players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px 0 200px 0;
}

.player {
    width: 45%;
    display: flex;
    padding-bottom: 10px;
}

.player-info {
    font-size: 11px;
}

.player-info h6 {
    font-weight: 700;
    color: #E73D30;
    text-transform: capitalize;
}

.player-info .age {
    color: #7c7c7c;
}

.player-info .address {
    color: #7c7c7c;
}

/* sport details styling */
.rules-panel h3 {
    color: #E73D30;
}

.practice-panel p, .game-panel p, .rules-panel p {
    color: #6e6e6e;
}

.left-and-right-container {
    align-items: unset;
    padding-top: unset;
}

.left img {
    width: 450px;
    height: auto;
}

.right {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.right h3 {
    padding-bottom: 15px;
}

.btn-secondary {
    padding: 15px 0;
    margin: 20px 5px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 800;
    width: 250px;
}

.rules-panel object {
    min-height: 600px;
}

.rules-panel h3 {
    text-align: center;
    padding: 20px 0;
}

#pdfRulesDownload {
    display: none;
}
/* end sport details */

/* Contact tab Styling */

.grid {
    margin: 20px;
}

.grid-filter h3, .grid-filter h4 {
    color: #000000;
}

.grid-select-field {
    width: 80px;
}

.select-dropdown-button b {
    margin-left: 30px;
}

.actions {
    padding-bottom: 20px;
}

/* End Contact Card Styling */

/* Start Maps / Where To Go Section */
.practice-and-game-map {
    background-color: #eeeeee;
    padding: 0 5% 5% 5%;
}

.practice-and-game-map h3 {
    color: #E73D30;
}

.map-image {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 5px;
}

/* End Maps / Where To Go Section */

/* Start Reources Styling */
.resources-row {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #e2e2e2;
}

.resources-content {
    width: 70%;
    margin-right: 50px;
}

.resources-content h4 {
    color: #E73D30;
}

.resources-content p {
    color: #333333;
    font-size: 14px;
    line-height: 19px;
}

.resources-actions {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.resources-actions .btn-primary {
    padding: 10px 20px;
    font-size: 18px;
    line-height: 19px;
    margin-right: 20px;
    width: 150px;
}

.resources-missing {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resources-missing p {
    font-size: 19px;
    line-height: 21px;
    color: #E73D30;
}
/* End Reources Styling */

/* Start Contact Panel  */
.grid-actions .btn {
    width: unset;
}
/* End Contact Panel */

/* End Panels */

/* Request Changes Form */
.toolbox-form-card {
    padding: 50px;
}

.toolbox-form-card h2 {
    color: #000000;
}

.btn-request {
    align-self: flex-end;
    max-width: 190px;
}

/* End Changes Form */

/**** Responsive Styling ****/
@media screen and (max-width: 1439.98px) {
    .responsive-hide {
        display: none;
    }

    .left img {
        width: 400px;
    }
}

/**** Tablet Styling  ****/
@media screen and (max-width: 1023.98px) {
    .tab {
        font-size: 22px;
        line-height: 24px;
    }
    .left-and-right-container {
        flex-direction: column-reverse;
    }

    .left-and-right-container .left {
        margin-left: 0;
    }

    .left img {
        width: 100%;
    }

    .left-and-right-container .right {
        align-items: flex-start;
    }
    
    .btn-secondary {
        width: 100%;
    }
}

/**** Tablet Styling  ****/

/**** Phone Styling ****/
@media screen and (max-width: 767.98px) {
    /* Zones & Sections */
    #section-feature-bg {
        background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-mobile-team-toolbox.jpg");
    }

    #zone-sectiona {
        padding: 0;
    }

    #zone-sectionb {
        padding: 0;
        margin: 0;
    }

    .right h3 {
        width: 100%;
    }

    #pdfRules {
        display: none;
    }

    #pdfRulesDownload {
        display: flex;
    }

    /* End Zones & Sections */

    /* Overrides */
    .navigation-and-title {
        padding: 0 15px;
        background-color: white;
    }

    .toolbox-menu-wrapper {
        display:flex;
        flex-direction:row; 
        justify-content:center;
    }

    .slick-menu .item:hover {
        color: #E73D30;
    }

    .slick-menu .item.active {
        color: #E73D30;
    }

    .mobile-items {
        background-color: white;
        padding-bottom: 20px;
        position: relative;
    }

    .mobile-items .slick-menu {
        position: absolute;
        padding-left: 0;
        top: 0;
        width: 80%;
    }

    .mobile-items .event-cards-header {
        padding-top:0;
        position:relative;
    }

    .slick-menu .slick-slide:focus {
        outline: none;
    }

    .slick-menu li {
        padding: 0 1rem;
        text-transform:uppercase;
    }

    .tabbed-panel-view-cards .header h4 {
        font-size: 32px;
        line-height: 34px;
    }

    #btnTeamsSelect {
        padding: 18px 5px;
    }

    .person-details {
        width: 100%;
    }

    .btn-primary {
        width: 100%;
    }

    /* End Overrides */

    /* Panels */
    .player {
        width: 100%;
        padding-bottom: 10px;
    }

    .players {
        width: 100%;
        padding-bottom: 10px;
    }

    .practice-and-game-map .img-responsive {
        max-width: 100%;
    }

    .practice-and-game-map h3 {
        line-height: 27px;
    }

    .map-image {
        padding: 0px;
    }

    .resources-row {
        flex-direction: column;
        margin: 0 5%;
        padding: 10px 0;
    }

    .resources-content {
        width: 100%;
        margin: 0;
        margin-bottom: 25px;
    }

    .resources-actions .btn {
        width: 100%;
    }

    .resources-actions {
        display: block;
        width: 100%;
    }

    /* Start Reources Styling */
    .resources-missing {
        height: 100px;
    }

    .resources-missing p {
        font-size: 14px;
        line-height: 16px;
    }

    .resources-row p {
        width: 100%;
    }

    /* End Reources Styling */

    /* End Panels */
}

/**** End Phone Styling ****/
