/* important needed to override giving css (need to move giving block CSS into its own file so we dont have these conflicts, instead of being in giving page css file) */
#ternavbar-bg {
    display: flex;
}

#sectionb-bg, #sectionc-bg, #sectiond-bg {
    display: none;
}

.announcement-bar {
    padding-top: 5px;
    background-color: #e43d35;
    color: #FFFFFF;
    font-weight: normal;
    font-family: Heebo;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 5px;
    font-size: 20px;
}

/* Navigation Section */

.navigation-primary-items-search-wrapper {
    display: flex;
}

.navigation-tertiary-items {
    width: unset !important;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #e43d35;
}

.nav-pills > li > a {
    color: red;
    text-transform: uppercase;
}

.nav {
    width: 700px;
    padding-top: 7%;
    padding-left: 5%;
}

.big-logo .logo {
    min-height: 100px;
}

.logo {
    padding-left: 100px;
}

.header-title {
    text-align: center;
    padding-bottom: 3%;
}

.row-header {
    display: flex;
    flex-direction: row;
}

.header-buttons {
    padding-top: 7%;
}

.head {
    display: flex;
    flex-direction: row;
}

/* Mobile Styling */
@media screen and (max-width: 500px) {
    #ternavbar-bg {
        display: none !important;
    }

    .main-feature {
        height: unset !important;
        padding-top: 50px !important;
    }

    .nav {
        width: unset;
    }
} 

/* End Navigation Section */

/* Top section */

.image-top {
    background-image: url("/Themes/com_ccvstars_External_v5/Assets/Images/home/soccer.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    background-position: center;
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .image-top {
        background-image: url("/Themes/com_ccvstars_External_v5/Assets/Images/home/soccer.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 500px;
        background-position: center;
    }
}

.top {
    width: 100%;
}

.image-bottom-left {
    background-image: url("/Themes/com_ccvstars_External_v5/Assets/Images/home/bball.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    background-position: center;
    height: inherit;
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .image-bottom-left {
        background-image: url("/Themes/com_ccvstars_External_v5/Assets/Images/home/bball.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        background-position: center;
    }
}

.image-bottom-right {
    background-image: url("/Themes/com_ccvstars_External_v5/Assets/Images/home/football.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    background-position: center;
    height: inherit;
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .image-bottom-right {
        background-image: url("/Themes/com_ccvstars_External_v5/Assets/Images/home/football.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.bottom-left, .bottom-right {
    height: 300px;
    width: 100%;
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .bottom-left, .bottom-right {
        height: 210px;
        width: 100%;
        margin-top: 2%;
    }
}

.content-container {
    text-align: center;
    height: inherit;
    padding-top: 15%;
}

.btn-primary {
    font-family: unset;
    font-weight: bold;
    min-width: 200px;
    max-width: 200px;
    text-transform: uppercase;
    color: white;
    background-color: #e43d35;
    border: solid 1px #e43d35;
    border: 1px solid transparent;
    text-align: center;
}

h2 {
    font-size: 32px;
    text-transform: uppercase;
    color: white;
    font-family: unset;
    font-weight: bold;
}

.btn-primary:hover {
    color: #e43d35;
    background-color: white;
    border: solid 1px  white;
    text-decoration: none;
}

.btn-primary:active {
    color: #e43d35;
    background-color: white;
    border: solid 1px white;
    text-decoration: none;
}

/* Mobile Styling */
@media screen and (max-width: 500px) {

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    .image-top {
        width: 100%;
        height: 200px;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
} 

/* End Top section */

/* Footer Section */

.mainfooter-dark {
    background-color: black;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding: 20px 35px;
}

.footer-logo img {
    height: 100px;
}

.footer-copyright {
    color: rgba(213,213,213,0.87); 
    padding-top: 10px; 
    font-family: Heebo; 
    line-height: 200%; 
    font-size: 12px; 
    font-weight: 200;
    text-align: center;
}

.footer-social {
    display: flex;
}

.footer-social a{
    padding-right: 4%;
}

.footer-social i {
    color: #FFFFFF;
    font-size: 30px;
    margin: 10px 0;
    padding: 0 20px;
}

.footer-social i:first-of-type {
    margin-left: -20px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    width: 45%;
    font-size: 13px;
    font-weight: 200;
    text-transform: uppercase;
    padding-top: 5%;
    color: white;
}

.footer-links-section {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.footer-links-section h5 {
    font-size: 20px;
    color: rgba(213,213,213,0.87);
    border-bottom: 1px solid rgba(213,213,213,0.87);
    width: 80%;
    margin: 0;
    margin-bottom: 10px;
}

.footer-links-section a {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
}

.mainfooter-dark a {
    text-decoration: none;
}

.footer-social img {
    height: 50px;
}

@media screen and (max-width: 1024px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .footer-links, .footer-links-subsection {
        margin-bottom: 20px;
    }
}

/* Footer Tablet Styling */
@media screen and (max-width: 768px) {
    .footer-links {
        display: block;
        width: 60%;
        text-align: center;
    }
}

/* Mobile Styling */
@media screen and (max-width: 500px) {
    .footer-links a {
        padding-right: 4%;
    }

    .footer {
        padding: 0;
        width: 100%;
    }

    .footer-social {
        justify-content: center;
        padding-top: 2%;
    }
}    

/* End Footer Section */