/* Zones & Sections */
#section-feature-bg {
    background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/home/about-us/hero-about-us.jpg");
    height: 700px;
    z-index: 997;
    background-size: cover;
}

#zone-feature {
    margin: 0 15%;
}

#zone-sectione {
    max-width: 100%;
}

/* End Zones & Sections */

/* Overrides */
.main-feature {
    overflow: unset;
}

.title {
    align-items: center;
}

.title h4 {
    color: #EA3E29;
}

p {
    color: #333333;
}

strong {
    font-weight: 700;
}

.section-video {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* End Overrides */

hr {
    color: gray;
}

.history h3, .mtag h3, .weekly-mtag h3 {
    color: #EA3E29;
    text-align: left;
}

.mtag h4 {
    color: #000000;
    font-weight: 900;
    font-size: 20px;
    line-height: 22px;
    text-align: left;
    text-transform: capitalize;
}

.history > ul {
    border-left: 2px solid red;
    list-style-type: none;
    padding: 10px 20px;
}

.weekly-mtag {
    background-color: #EA3E29;
    color: #ffffff;
    padding: 30px 40px;
    width: 400px;
    margin-right: 50px;
    border-radius: 5px;
}

.weekly-mtag h3, .weekly-mtag p {
    color: #ffffff;
    padding-left: 20px; 
}

.mtag > ul {
    list-style: none;
    padding: 0 0 0 15px;
}
  
.mtag > ul li::before {
    content: "\2022";
    color: #EA3E29;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

/**** Phone Styling ****/
@media screen and (max-width: 767.98px) {  
    #section-feature-bg {
        background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/home/about-us/hero-mobile-about-us.jpg");
        height: unset;
    }

    #zone-sectione {
        margin: 0;
    }

    .weekly-mtag {
        width: 100%;
    }

    .mtag > ul {
        padding: 0 0 0 5%;
    }

}

/**** End Phone Styling ****/