/* Zones & Sections */
#section-feature-bg {
    background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-about-us.jpg");
    height: 700px;
    z-index: 997;
    background-size: cover;
}

#zone-feature {
    margin: 0 15%;
}

#zone-sectione {
    max-width: 100%;
}

/* End Zones & Sections */

/* Overrides */
.main-feature {
    overflow: unset;
}

.stars-locations-title {
    padding: 42px 0 0 0;
    text-align: center;
}

.stars-locations-title h4 {
    color: #e73d30;
    padding-bottom: 0;
    font-size: 35px;
    line-height: 37px;
}

.stars-locations-title p {
    color: #7c7c7c;
    font-size: 17px;
    line-height: 19px;
}

.title p {
    color: #ffffff;
}

strong {
    font-weight: 700;
}

.section-video {
    padding-top: 50px;
    padding-bottom: 0px;
}

span{
    font-weight: normal;
}

.weekly-mtag > ul {
    font-weight: bold;
}

/* End Overrides */

hr {
    border-top: 2px solid #ccc;
}

.our-history {
    padding-top: 150px;
}

.our-history p {
    color: #595959;
    font-size: 17px;
    line-height: 25px;
}

.our-history h3, .mtag h3, .weekly-mtag h3 {
    color: #EA3E29;
    text-align: left;
}

.our-history > ul {
    border-left: 2px solid red;
    list-style-type: none;
    padding: 10px 20px;
}

.weekly-mtag h3 {
    font-size: 40px;
    line-height: 42px;
}

.mtag p {
    color: #333333;
    font-size: 17px;
    line-height: 25px;
}

.mtag h4 {
    color: #000000;
    font-weight: 900;
    font-size: 20px;
    line-height: 22px;
    text-align: left;
    text-transform: capitalize;
}

.weekly-mtag {
    background-color: #EA3E29;
    color: #ffffff;
    padding: 30px 40px;
    width: 400px;
    margin-right: 50px;
    border-radius: 5px;
}

.weekly-mtag-wrapper {
    display: flex;
    width: 80%;
    margin: 5% 5%;
}

.weekly-mtag-wrapper img {
    border-radius: 10px;
}

.weekly-mtag h3, .weekly-mtag p {
    color: #ffffff;
    padding-left: 20px; 
    padding-bottom: 0;
}

.mtag > ul {
    list-style: none;
    padding: 0 0 0 15px;
}
  
.mtag > ul li::before {
    content: "\2022";
    color: #EA3E29;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.img-row img {
    border-radius: 8px;
}

.desktop-view {
    display: block;
}

.mobile-view {
    display: none;
}

/**** Tablet Styling  ****/
@media screen and (max-width: 1023.98px) {
    #section-feature-bg {
        background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-mobile-about-us.jpg");
        height: 440px;
    }
    .weekly-mtag-wrapper {
        width: unset;
        margin: 0;
        flex-direction: column-reverse;
    }

    .weekly-mtag {
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
        border-radius: 0px;
    }
}

/**** End Tablet Styling ****/


/**** Phone Styling ****/
@media screen and (max-width: 767.98px) {  
    #section-feature-bg {
        background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-mobile-about-us.jpg");
        height: 440px;
    }

    #zone-sectiona {
        margin: 0 5%;
    }

    #zone-feature, #zone-sectione {
        margin: 0;
    }

    .title {
        display: none;
    }

    .stars-locations-title {
        padding: 0;
    }

    .img-row img {
        border-radius: 0;
    }

    .our-history {
        padding-top: 0px;
    }

    .our-history p {
        font-size: 13px;
        line-height: 16px;
    }

    .our-history .btn-primary {
        width: 100%;
        margin: 0% 0 5% 0;
        padding: 8px 12px;
    }

    /* .weekly-mtag-wrapper {
        width: unset;
        margin: 0;
        flex-direction: column-reverse;
    }

    .weekly-mtag {
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
        border-radius: 0px;
    } */

    .mtag > ul {
        padding: 0 0 0 5%;
    }

    .desktop-view {
        display: none;
    }
    
    .mobile-view {
        display: block;
    }

    .mobile-view .section-video {
        padding-top: 0px;
    }
}

/**** End Phone Styling ****/