
#section-feature-bg {
    background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-volunteer.jpg");
}

.faq-section h3 {
    color: #E73D30;
    padding-top: 100px;
}

.faq-card {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
    margin-bottom:0px;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header a {
    color: #E73D30;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.faq-list .faq-card {
    border-radius: 0;
    border: none;
    text-align: left;
}

.faq-list .faq-card a:focus, .faq-list .faq-card a:visited, .faq-list .faq-card a:hover, .faq-list .faq-card a:active, .card-header a  {
    text-decoration: none;
}

.faq-list .faq-card .card-header i {
    color: #8c8c8c;
    margin-right: 20px;
    cursor: pointer;
}

.faq-list .faq-card .card-header a {
    font-weight: bold;
    max-width: 80%;
    text-transform: capitalize;
}

.faq-list .faq-card .card-header .fa-border {
    border-radius: 1.1em;
    border: 2px solid #8c8c8c;
    padding: 0.2em 0.25em 0.1em;
}

.faq-list .faq-card .card-body {
    padding: 0.75rem 1.25rem;
}

.faq-list .faq-card .card-body p, .faq-list .faq-card .card-body li, .area-of-interest label {
    color: #545454;
}

.serve-header {
    padding-top: 50px;
}

.serve-header h3 {
    color: #E73D30;
    line-height: 32px;
}

.inner {
    margin-left: 40px;
}

textarea.form-control {
    height: auto;
    background-color: #ededed;
    border: 1px solid lightgray;
}

.actions .btn {
    width: 200px;
    margin-top: 45px;
}

.area-of-interest {
    padding: 10px 0;
}

/* overrides */
.email-box {
    margin-bottom: 5px;
}
/* end overrides */

/**** Phone Styling ****/
@media screen and (max-width: 767.98px) {
    #section-feature-bg {
        background-image: url("/Themes/com_ccvstars_External_v6/Assets/Images/hero/hero-mobile-volunteer.jpg");
    }
 
    .faq-section h3 {
        padding-top: 50px;
    }

    .serve-header {
        padding: 20px 0;
    }

    .serve-header h3 {
        font-size: 30px;
        line-height: 20px;
    }

    .actions .btn {
        width: 100%;
        margin-top: 45px;
    }
}

/**** End Phone Styling ****/