
.page-background {   
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/watch/hero-stories.jpg");
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .page-background {
        background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/watch/hero-mobile-stories.jpg");
    }
}

#single-section-bg {
    padding: 20px;
    background-color: #ffffff;
}

/* use the expanded main feature only for tablet and larger */
@media screen and (min-width: 501px) {
    .main-feature {
        height: 350px;
        padding-top: 125px;
    }
}

.story-content {
    padding: 25px 100px 25px 100px;
}

@media screen and (max-width: 500px) {
    .story-content {
        padding: 25px 10px 25px 10px;
    }
}

.bottom-image {
    padding-top: 70px;
    text-align: center;
}

.bottom-image img {
    display: unset;
}

.nav-content {
    padding-top: 25px;
    text-align: center;
}