
.page-background {   
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/get-involved/hero-get-involved.jpg");
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .page-background {
        background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/get-involved/hero-mobile-get-involved.jpg");
    }
}

/* use the expanded main feature only for tablet and larger */
@media screen and (min-width: 501px) {
    .main-feature {
        height: 475px;
        padding-top: 175px;
    }
}

#section-b-bg {
    background-color: white;
}

/* Footer Plan A Visit */
#section-c-bg {
    background: url("/Themes/church_ccv_External_v8/Assets/Images/home/get-involved/footer-pav-get-involved.jpg");
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat
}

#section-d-bg {
    display: none;
}

#section-e-bg { 
    display:none;
}