.page-background {
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/get-involved/hero-find-a-class.jpg");
}

.main-feature {
    height: 475px;
    padding-top: 175px;
}

.neighborhood-groups-card {
    background-color: #ffffff;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border-radius: 5px;
    margin: 40px 0 0 0;
}

.neighborhood-groups-card .title h3 {
    font-size: 26px;
    margin: 14px 0 14px 15px;
}

.neighborhood-groups-card .title h4 {
    padding-left: 10px;
}
.neighborhood-groups-card .person-row-summary img {
    background-color: #f3f3f3;
}

.neighborhood-groups-card .content {
    height: auto;
    display: flex; 
    flex-direction: column;
    padding-bottom: 20px;
}

.neighborhood-groups-card .content .header {
    text-align: center; 
    background-color: rgb(230, 230, 230);
    border-bottom: 1px solid #ddd; 
}

.neighborhood-groups-card .content .team-header {
    text-align: center; 
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid #ddd; 
}

.neighborhood-groups-card .content .team-header h5 {
    font-size: 18px; 
    margin: 0px 0px .05rem; 
    padding: 10px 15px;
}

.dashboard-icon {
    color: #424242; 
    font-size: 24px;
    margin: 0 10px;
}

.profile-picture img {
    width: 150px;
    height: 100px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 3px;
    margin-right: 2%;
}

.group-name-and-schedule h4{
    font-size: 15px;
}

.location-of-group p{
    font-size: 12px;
}

.info-note p {
   margin: 0;
}

.panel-results {
    margin-top: 25px;
}

.person-row {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    border-radius: 5px;
    border: 1px solid #F3F3FA;
    margin-bottom: 10px;
    cursor: pointer;
}

.person-row:hover { 
    background-color: rgba(172, 171, 171, 0.692);
}

.person-details-toggle, .person-details-toggle:hover, .person-details-toggle:active, .person-details-toggle:visited, .person-details-toggle:focus {
    text-decoration:none;
}

.person-row-details a {
    position: relative;
    top: 25%;
}

.person-row-details {
    min-width: 200px;
    max-width: 200px;
}

.person-row-details .btn-primary {
    min-width: 150px;
    max-width: 150px;
}

.person-info {
    white-space: normal;
}

h6 {
    font-size: 13px;
    font-family: akrobat;
    color: #545454;
    text-transform: none;
}

.person-info h6 {
    line-height: 110%;
    padding-bottom: 10px;
}

.person-info p {
    font-size: 12px;
}

.person-row-summary {
    padding: 0 20px; 
    align-items: center;
}

.person-row-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.person-row-details p {
    margin: 0;
    line-height: 26px;
    font-family: heebo;
    font-size: 14px;
    color: #707270;
}

.person-row-details a {
    color: white;
    margin-bottom: 30px;
}

.person-row-details a:hover {
    text-decoration: none;
}

.person-details-toggle {
    background-color: unset;
    border: unset;
    padding: unset;

}

.details-container{
    display: flex;
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
}

.details-right-card {
    padding-left: 10px;
    padding-right: 10px;
}

.person-row-details .person-details-additional-child {
    margin-left: 34px;
}

.person-row-details .person-details-additional-address {
    margin-left: 58px;
}

.moreInfoContainer {
    display: flex;
}

.registrationDiv {
    padding-left: 176px;
}

.innerregistrationDiv {
    padding-left: 30px;
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .page-background {
        background-image: url("/Themes/church_ccv_External_v8/Assets/Images/home/get-involved/hero-find-a-class-mobile.jpg");
    }

    .main-feature {
        height: 220px;
        padding-top: 70px;
    }

    .person-row-summary {
        padding: 0 10px;
    }

    .profile-picture img {
        width: 150px;
        height: 100px;
        margin-left: 5px;
        margin-top: 20px;
        border-radius: 3px;
        margin-right: 2%;
    }

    .person-row-summary img {
        margin: 10px 0;
    }

    .person-row-details {
        margin-left: 10px;
        margin-right: 10px;
    }

    .group-picture {
        margin: 0 -20px;
    }

    .details-container {
        flex-direction: column-reverse;
    }

    .neighborhood-groups-card { /* .dashboard-card */
        margin-left: -15px;
        margin-right: -15px;
    
    }
    .divDescription {
        display: none;
    }

    h5 {
        font-size: 15px;
    }

    .registrationDiv {
        padding-left: 162px;
    }
}