.page-background {
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/stand-alone/2019/hero-easter.jpg") !important;
}

#subnavbar-bg {
    display: none;
}

.main-feature {
    padding-top: 100px;
}

#zone-feature {
    margin: 0 auto;
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .page-background {
        background-image: url("/Themes/church_ccv_External_v8/Assets/Images/stand-alone/2019/hero-easter.jpg") !important;
    }

    .main-feature {
        height: unset !important;
        padding-top: 75px !important;
    }
}

/* Feature Title Section */

.title {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.title img {
    margin: 0 auto;
    width: unset;
    width: 70%;
}

.title h3 {
    font-size: 44px;
    line-height: 46px;
    font-weight: 700;
}

.title p {
    font-size: 34px;
    line-height: 36px;
    font-family: Akrobat;
    font-weight: 500;
    max-width: 865px;
}

.title-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding-bottom: 20px;
}

.title-button {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #0057ac;
    font-family: Akrobat;
    min-width: 200px;
    max-width: 200px;
}

.title-button:hover {
    text-decoration: none;
    background-color: #0057ac;
    border-color: #0057ac;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .title-buttons {
        flex-direction: column;
        align-items: center;
    }

    .title-button {
        margin: 10px 20px;
    }

    .title img {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .title-button {
        max-width: unset;
    }

    .title h3 {
        font-size: 26px;
        line-height: 28px;
    }

    .title p {
        font-size: 16px;
        line-height: 18px;
    }   
}

/* End Feature Title Section */

/* video promo section */

#section-a-bg {
    background-color: #FFFFFF;
}

/* End video promo Section */

/* Map Section */

#section-b-bg {
    padding: 0;
}

#zone-sectionb {
    max-width: 100%;
    margin: unset;
}

.our-campuses-map-window {
    background: #777;
}
 
.our-campuses-map {
    min-height: 550px;
}

/* End Map Section */

/* Campus Card Section */
#zone-sectionc {
    margin: 0 auto;
}

#section-c-bg {
    background-color: #ebebeb;
}

.service-times-title {
    color: #0057ac;
    font-family: Akrobat;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

.campus-cards-row {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.campus-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    width: 31%;
    min-height: 500px;
    min-height: 545px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 5px;
    border: unset;
    border-width: unset;
    background-color: #FFFFFF;
    z-index: 1;
    overflow: hidden;
}
 
.campus-card .image img {
    object-fit: cover;
    width: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 10px 16px;
}
 
.campus-card .content {
    height: auto;
}

.campus-card .header {
    display: flex;
    flex-direction: column;
}
 
.campus-card .link {
    align-self: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.campus-card .link a {
    height: unset;
    line-height: unset;
    color: #FFFFFF;
    margin: unset;
}

.campus-card .link .btn-primary {
    font-weight: normal;
    min-width: 150px;
    max-width: 150px;
    font-family: akrobat;
}

.contact-phone {
    color: #0e568e !important;
    background-color: unset !important;
    border-color: unset !important;
}
 
.campus-card .service-times {
    color: #777777;
}

.campus-cards-row-mobile {
    display: none;
}

.campus-dropdown li {
    margin: 0%;
}

.campus-dropdown ul {
    width: 100%;
}

.campus-dropdown button {
    width: 100%;
    padding: 5px 15px 5px 25px;
    border: none;
    box-shadow: none;
    background-color: #fff;
}

.campus-dropdown button:hover {
    background-color: #0e568e;
    color: white;
}

.dropdown-menu {
    top: unset;
    width: 100%;
    position: absolute;
    float: left;
    background-color: #FFFFFF;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: none;
}

#btnCampusSelect {
    color: #FFFFFF;
    width: 100%;
    background-color: #0e568e;
    border-color: #b2bdc5;
    border-radius: 10px;
    height: 30px;
    min-width: 200px;
    margin-bottom: 5%;
}

.service-times strong {
    font-weight: 700;
}

.icon-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.header h4 {
    color: #0e568e;
}

.icon-desc p {
    font-size: 12px;
    line-height: 14px;
    color: #777777;
}

/* Laptops */
@media screen and (max-width: 1024px) {
    .campus-card {
        width: 45%;
        padding-bottom: 15px;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    .campus-card {
        width: 45%;
        padding-bottom: 15px;
    }
}

/* Mobile */
@media screen and (max-width: 500px) {
    #zone-sectionc {
        margin: 0 5%;
        padding-bottom: 5%;
    }

    .campus-card {
        width: 90%;
        padding-bottom: 15px;
    }

    .campus-cards-row-mobile {
        display: block;
    }

    .campus-cards-row {
        display: none; 
    }

    .campus-card {
        margin: 0;
        min-width: unset;
        max-width: unset;
        width: unset;
    }

    .list-inline > ul {
        padding: 5px 0;
    }  

    .list-inline {
        margin-left: 0;
    } 

    select {
        -webkit-appearance: button-bevel;
        -moz-appearance: none;
        text-overflow: '';
    }
    
    .service-times-list {
        display: flex;
        flex-wrap: wrap;
        text-decoration: none;
        list-style: none;
    }

    li {
        margin-right: 2%;
    }

    .csi {
        margin: 0 3px;
    }
}
/* End Campus Card Section */

/* Plan Your Visit section */

#section-d-bg {
    background-color: #ffffff; /* background-color: #ffffff; */
}

/* End Plan Your Visit Section */

/* Baptisms section */

#section-e-bg {
    background-color: #ffffff; /* background-color: #ebebeb; */
}

/* End Baptisms Section */

/* Sunrise Service section */

#zone-sectionf {
    margin: 0 5%;
    max-width: unset;
}

#section-f-bg {
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/stand-alone/2019/feature-sunrise-strip.jpg");
}

.sunrise-section {
    min-height: 502px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sunrise-section p {
    color: white;
    font-family: Heebo;
    font-size: 14px;
    margin: 0px 25% 1% 25%;
}

.sunrise-section h2 {
    color: white;
    font-family: Akrobat;
    font-size: 44px;
    font-weight: 700;
    line-height: 46px;
}

@media screen and (max-width: 500px) {
    .sunrise-section p{
        margin: unset;
    }
}

/* End Sunrise Service Section */

/* Share Section */

#section-g-bg {
    background-color: #FFFFFF;
}

.share {
    text-align: center;
    padding: 40px 20px;
    width: 40%;
    margin: auto;
    padding-bottom: 50px;
}

.share-icons {
    height: 80px;
    width: 80px;
}

.share-icons-container {
    display: flex;
    justify-content: space-around;
}

.share p {
    font-size: 15px;
    color: #535353;
}

@media screen and (max-width: 500px) {
    .share {
        width: 100%;
    }

    .share-icons {
        height: 60px;
        width: 60px;
    }
}

/* End Share Section */

/* FAQ section */
#section-h-bg {
    background-color: #FFFFFF;
}

.faq-title {
    text-align: center;
}

.faq-section {
    margin-top: 4rem;
}

.faq-section h2 {
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 2rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
    margin-bottom:0px;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(10, 10, 10, 0.125);
}

.faq-list .card {
    border-radius: 0;
    border: none;
    text-align: left;
    background-color: #FFFFFF;
}

.faq-list .card a:focus, .faq-list .card a:visited, .faq-list .card a:hover, .faq-list .card a:active {
    text-decoration: none;
}

.faq-list .card .card-header {
    background-color: #FFFFFF;
    vertical-align: middle;
}

.faq-list .card .card-header h5 {
    margin:.3rem 0;
    line-height:2.5rem;
}

.faq-list .card .card-header i {
    color: #8c8c8c;
    margin-right: .5rem;
    cursor:pointer;
}

.faq-list .card .card-header a {
    font-size: 1.2em;
    line-height:1em;
    font-weight: bold;
    max-width: 80%;
    color: #0057ac;
}

.faq-list .card .card-header .fa-border {
    border-radius: 1.1em;
    border: 2px solid #8c8c8c;
    padding: 0.2em 0.25em 0.1em;
}

.faq-list .card .card-body {
    padding: 0.75rem 1.25rem;
}
  
/* End FAQ Section */

 /* Overrides */
 h2, h3 {
     color: #1653a3;
}

.right p {
    color: #535353;
}

a:focus {
    outline: none;
}

.btn-primary, .contextsetter-campus .dropdown {
    background-color: #0e568e;
    border-color: #0e568e;
    border-radius: 5px;
    margin: 0 auto;
    min-width: 200px;
    max-width: 200px;
} 

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #0e3757;
    border-color: #0e3757;
    color: white;
    border-radius: 5px;
} 

.btn-white, .btn-white:active, .btn-white:focus {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #e43d35;
}

.sunrise-button {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #0057ac;
}

.sunrise-button:hover {
    background-color: #0057ac;
    border-color: #0057ac;
    color: #FFFFFF;
}

@media screen and (max-width: 500px) {
    .btn-primary, .contextsetter-campus .dropdown {
        max-width: unset;
    }

    .sunrise-button {
        background-color: #FFFFFF;
        border-color: #FFFFFF;
        color: #0057ac;
    }
    
    .sunrise-button:hover {
        background-color: #0057ac;
        border-color: #0057ac;
        color: #FFFFFF;
    }
}

/* End Overrides */