.page-background {
    background-image: url("/Themes/church_ccv_External_v8/Assets/Images/stand-alone/2019/hero-easter.jpg") !important;
}

#subnavbar-bg {
    display: none;
}

.main-feature {
    padding-top: 100px;
}

#zone-feature {
    margin: 0 auto;
}

/* Mobile Background Image */
@media screen and (max-width: 500px) {
    .page-background {
        background-image: url("/Themes/church_ccv_External_v8/Assets/Images/stand-alone/2019/hero-easter.jpg") !important;
    }

    .main-feature {
        height: unset !important;
        padding-top: 75px !important;
    }
}

/* Feature Title Section */

.title {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.title img {
    margin: 0 auto;
    width: unset;
    width: 80%;
}

.title h3 {
    font-size: 44px;
    line-height: 46px;
    font-weight: 700;
}

.title p {
    font-size: 34px;
    line-height: 36px;
    font-family: Akrobat;
    font-weight: 500;
}

.title-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding-bottom: 20px;
}

.title-button {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #0057ac;
    font-family: Akrobat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    width: 253.53px;
    max-width: unset;
    height: 53.03px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5.64px;
    margin: 0 20px;
}

.title-button:hover {
    text-decoration: none;
    background-color: #0057ac;
    border-color: #0057ac;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .title-buttons {
        flex-direction: column;
        align-items: center;
    }

    .title-button {
        margin: 10px 20px;
    }

    .title img {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .title-button {
        width: 100%;
    }

    .title h3 {
        font-size: 26px;
        line-height: 28px;
    }

    .title p {
        font-size: 16px;
        line-height: 18px;
    }
    
}

/* End Feature Title Section */

/* Map Section */

#section-a-bg {
    padding: 0;
}

#zone-sectiona {
    max-width: 100%;
    margin: unset;
}

.our-campuses-map-window {
    background: #777;
}
 
.our-campuses-map {
    min-height: 550px;
}

/* End Map Section */

/* Campus Card Section */
#zone-sectionb {
    margin: 0 auto;
}

#section-b-bg {
    background-color: #ebebeb;
}

.service-times-title {
    color: #0c4e8d;
    font-family: Akrobat;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

.campus-cards-row {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.campus-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    width: 31%;
    min-height: 500px;
    min-height: 545px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 5px;
    border: unset;
    border-width: unset;
    background-color: #FFFFFF;
    z-index: 1;
    overflow: hidden;
}
 
.campus-card .image img {
    object-fit: cover;
    width: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 10px 16px;
}
 
.campus-card .content {
    height: auto;
}

.campus-card .header {
    display: flex;
    flex-direction: column;
}
 
.campus-card .link {
    align-self: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.campus-card .link a {
    height: unset;
    line-height: unset;
    color: #FFFFFF;
    margin: unset;
}

.campus-card .link .btn-primary {
    font-weight: normal;
    min-width: 150px;
    max-width: 150px;
    font-family: akrobat;
}

.contact-phone {
    color: #7a1315 !important;
    background-color: unset !important;
    border-color: unset !important;
}
 
.campus-card .service-times {
    color: #777777;
}

.icon-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.icon-desc p {
    font-size: 12px;
    line-height: 14px;
    color: #777777;
}

/* Laptops */
@media screen and (max-width: 1024px) {
    .campus-card {
        width: 45%;
        padding-bottom: 15px;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    .campus-card {
        width: 45%;
        padding-bottom: 15px;
    }
}

/* Mobile */
@media screen and (max-width: 500px) {
    .campus-cards-row {
        justify-content: center;
    }

    .campus-card {
        width: 100%;
        padding-bottom: 15px;
    }
}
/* End Campus Card Section */

/* Plan Your Visit section */

#section-c-bg {
    background-color: #ffffff;
}

/* Plan Your Visit Section */

/* Baptisms section */

#section-d-bg {
    background-color: #ebebeb;
}

/* End Baptisms Section */

/* Kids / Students section */

#zone-sectione {
    margin: 0 -15px;
    max-width: unset;
}

.kids-students {
    display: flex;
    width: 100%;
}

.kids {
    background-image: url(/Themes/church_ccv_External_v8/Assets/Images/stand-alone/2019/background-small-kids.jpg);
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kids img {
    max-width: 250px;
}

.students {
    background-image: url(/Themes/church_ccv_External_v8/Assets/Images/stand-alone/2019/background-small-students.jpg);
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.students img {
    max-width: 450px;
}

.students p {
    width: 50%;
    text-align: center;
    margin-top: 20px;
    color: #FFFFFF
}

.kids p {
    width: 50%;
    text-align: center;
    margin-top: 20px;
    color: #FFFFFF
}

@media screen and (max-width: 500px) {
    #zone-sectione {
        margin: 0;
    }

    .kids-students {
        flex-direction: column;
    }

    .kids, .students {
        width: 100%;
    }

    .kids-students .btn {
        width: 85%;
    }

    .students img {
        max-width: 350px;
    }

    .students p {
        width: 100%;
    }
    
    .kids p {
        width: 100%;
    }
}

/* End Kids / Students Section */

/* Share Section */

#section-f-bg {
    background-color: #ebebeb;
}

.share {
    text-align: center;
    padding: 40px 20px;
    width: 50%;
    margin: auto;
}

.share-icons {
    height: 80px;
    width: 80px;
}

.share-icons-container {
    display: flex;
    justify-content: space-around;
}

.share p {
    font-size: 15px;
    color: #535353;
}

@media screen and (max-width: 500px) {
    .share {
        width: 100%;
    }

    .share-icons {
        height: 60px;
        width: 60px;
    }
}

/* End Share Section */

/* FAQ section */
#section-g-bg {
    background-color: #FFFFFF;
}

.faq-title {
    text-align: center;
}

.faq-section {
    margin-top: 4rem;
}

.faq-section h2 {
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 2rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
    margin-bottom:0px;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(10, 10, 10, 0.125);
}

.faq-list .card {
    border-radius: 0;
    border: none;
    text-align: left;
    background-color: #FFFFFF;
}

.faq-list .card a:focus, .faq-list .card a:visited, .faq-list .card a:hover, .faq-list .card a:active {
    text-decoration: none;
}

.faq-list .card .card-header {
    background-color: #FFFFFF;
    vertical-align: middle;
}

.faq-list .card .card-header h5 {
    margin:.3rem 0;
    line-height:2.5rem;
}

.faq-list .card .card-header i {
    color: #8c8c8c;
    margin-right: .5rem;
    cursor:pointer;
}

.faq-list .card .card-header a {
    font-size: 1.2em;
    line-height:1em;
    font-weight: bold;
    max-width: 80%;
    color: #0057ac;
}

.faq-list .card .card-header .fa-border {
    border-radius: 1.1em;
    border: 2px solid #8c8c8c;
    padding: 0.2em 0.25em 0.1em;
}

.faq-list .card .card-body {
    padding: 0.75rem 1.25rem;
}
  
/* End FAQ Section */

 /* Overrides */
 h2, h3 {
     color: #1653a3;
}

.right p {
    color: #535353;
}

a:focus {
    outline: none;
}

.btn-primary, .contextsetter-campus .dropdown {
    background-color: #0e568e;
    border-color: #0e568e;
    border-radius: 5px;
} 

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #0e3757;
    border-color: #0e3757;
    color: white;
    border-radius: 5px;
} 

.btn-white, .btn-white:active, .btn-white:focus {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #e43d35;
}

/* End Overrides */